[2015-02-21 01:51] srinivasupadhya opened #1 "add ability to provide username & password configuration"
these will be new fields that you will accept from user on UI as well. I will update the sample git plugin for reference.

[2015-02-21 01:54] srinivasupadhya opened #2 "move target plugin version in plugin.xml to 15.1.0"
since the SCM end-point is available only > 15.1.0

[2015-02-21 03:15] #2 closed

[2015-02-21 03:59] ashwanthkumar commented on #1
For Github in our case, do you think having the credentials at the environment would be fine? Since generally folks wouldn't have a different credentials for each github repository isn't?

[2015-02-21 04:04] srinivasupadhya commented on #1
I think it should be ok for the user to enter username & password for every repo once vs mandating user to use the same credentials across repos?

[2015-02-21 04:07] ashwanthkumar commented on #1
:) How about we say users can override credentials for every repo (optionally), if they choose not to, I would fall back the default one?

[2015-02-21 04:21] srinivasupadhya commented on #1
Yes. I was going to suggest the same. May be you can take the defaults once Go allows "global/default plugin configuration" on plugins page :+1:

[2015-02-21 05:31] ashwanthkumar opened #3 "Build pipeline only if the PR is mergable"

[2015-02-21 05:32] ashwanthkumar opened #4 "Expose PR Attributes as ENV variables"
Attached is a screenshot for reference properties in github pr plugin in jenkins

![screen shot 2015-02-20 at 3 47 33 pm](https://cloud.githubusercontent.com/assets/600279/6312973/fe8a3386-b9b8-11e4-821f-93c1f278b7ac.png)

[2015-02-21 05:52] ashwanthkumar opened #5 "Add support for building projects on Github Enterprise"

[2015-02-21 05:58] ashwanthkumar commented on #4
We emit the following environment variables.

![github_scm_env_props](https://cloud.githubusercontent.com/assets/600279/6313031/852201be-b9bc-11e4-9bc0-13c9088c2aed.png)

PS - `SCM_TEST` is the name of the material.

[2015-02-21 05:58] #4 closed

[2015-02-22 02:50] ashwanthkumar commented on #3
Fixed as part of #6

[2015-02-22 02:50] #3 closed

[2015-02-22 05:00] #5 closed

[2015-03-04 00:11] rzenker opened #8 "java.lang.RuntimeException: Interaction with plugin with id 'github.pr' implementing 'scm' extension failed while requesting for 'latest-revisions-since'. Reason: [Unsuccessful response from plugin. Plugin returned with code '500' and the following response: '"Exception caught during execution of reset command. {0}"']"
I'm not sure where this exception is being raised from in the code.  Any hints you can offer to help debug this?

[2015-03-04 00:58] ashwanthkumar commented on #8
Can you look for the stack trace in the log file? We're looking for a file `plugin-github.pr.log` in the agent's home directory.

[2015-03-04 01:16] ashwanthkumar opened #9 "Invalid ref master specified"
From Graham,

Here is some stack trace:

2015-03-03 15:48:43,978  WARN [85@MessageListener for MaterialUpdateListener] GitHubPRBuildPlugin:67 - get latest revision:
org.eclipse.jgit.api.errors.JGitInternalException: Invalid ref master specified
at org.eclipse.jgit.api.ResetCommand.call(ResetCommand.java:160)
at in.ashwanthkumar.gocd.github.JGitHelper.resetRepository(JGitHelper.java:120)
at in.ashw

[2015-03-04 05:13] #9 closed

[2015-03-04 05:22] ashwanthkumar opened #11 "Using Merge commit to schedule builds is not reliable"
Not a very common scenario but still possible. Consider a repository "A" which has a PR#1. Lets say we have scheduled the PR but the build hasn't yet started. In the meantime, if the author of PR pushes another commit to the repository, Github changes the merge commit. Now when Go starts building the commit, the checkout command fails with
[code]

[2015-03-04 13:45] rzenker commented on #8
I believe I've tracked this down to the flyweight dir getting into a horribly inconsistent state.  I've noticed that it is attempting to reset it to various merges that are still in github, but some are really old/closed/never merged pull requests (which can be really far from current head and likely not automatically mergable).   Is it possible to filter this on open PRs only and skip this test f

[2015-03-04 17:09] rzenker commented on #8
Didn't look like you needed the checkout here: https://github.com/ashwanthkumar/gocd-build-github-pull-requests/blob/master/src/main/java/in/ashwanthkumar/gocd/github/GitHubPRBuildPlugin.java#L204

If not, it may be just removing that line will keep the working checkout clean without all the weirdness with checking out vastly different commits.

[2015-03-04 18:38] rzenker commented on #8
https://github.com/ashwanthkumar/gocd-build-github-pull-requests/pull/12 is working so far for me.

[2015-03-04 23:20] ashwanthkumar commented on #8
Handling only open PR is on my list, will fix that.

Checkout there is used for computing the new commits that happened for every PR since the last build. When we do [cloneOrFetch](https://github.com/ashwanthkumar/gocd-build-github-pull-requests/blob/master/src/main/java/in/ashwanthkumar/gocd/github/JGitHelper.java#L37) we clean the working directory every time.

Unless Go is sending the last-modi

[2015-03-05 02:30] ashwanthkumar opened #13 "Build only Open PRs"
Today we're not checking for a PR being open / closed while scheduling a build for them. We should schedule a build only if the PR is still Open.

[2015-03-05 18:01] rzenker commented on #8
Haven't had a chance to reproduce since I got it working for this one repo.  It had a long history of PRs (some that never got merged and were closed).  What I saw happening in the flyweight dir was the working dir getting into inconsistent state with a bunch of untracked/old directory/file layouts so that's what led me to use the clean before each checkout and I haven't seen it since.  Had a case

[2015-03-05 18:05] ashwanthkumar commented on #8
Nah, It just felt like fixing a symptom.

[2015-03-05 18:06] #8 closed

[2015-03-05 18:06] ashwanthkumar commented on #8
Please re-open if you can reproduce the issue again.

[2015-03-14 04:06] srinivasupadhya commented on #1
will do this once https://github.com/ashwanthkumar/gocd-build-github-pull-requests/pull/14 goes in.

[2015-03-14 07:26] #1 closed

[2015-03-14 08:18] srinivasupadhya commented on #13
This is party taken care off by https://github.com/ashwanthkumar/gocd-build-github-pull-requests/pull/14. Since the plugin will now send changes to PRs (add of new PR/update to existing PR) it could be assumed that the PR is open?

[2015-03-14 08:19] srinivasupadhya commented on #11
With the https://github.com/ashwanthkumar/gocd-build-github-pull-requests/pull/14 the plugin now polls & checksout to latest revision of a PR. This might not be a problem anymore.

[2015-03-14 08:21] srinivasupadhya opened #17 "handle check connection when ~/.github file is not present"
Now that the plugin supports `username` & `password` fields, check-connection should work for this case.

[2015-03-14 08:24] srinivasupadhya opened #18 "figure out endpoint from url"
Now that plugin supports `username` & `password` fields it would be nice to get features to work without `~/.github` file. So, if `endpoint` is generated out of repo `url` field it would be cool.

eg:
`url`: https://github.com/ashwanthkumar/gocd-build-github-pull-requests.git / git@github.com:ashwanthkumar/gocd-build-github-pull-requests.git
`endpoint`: https://github.com/api/v3

[2015-03-14 15:12] ashwanthkumar commented on #11
We would still have the same issue right? Am I missing something?

[2015-03-15 08:37] srinivasupadhya commented on #11
Should we use `+refs/pull/*/head:refs/remotes/origin/pull-request/*` instead of `+refs/pull/*/merge:refs/gh-merge/remotes/origin/*` then? we can use `refs/remotes/origin/pull-request/` to filter pull requests in that case.

[2015-03-15 14:27] ashwanthkumar commented on #11
The reason for using /merge instead of /head is, it checks for mainstream merge capability. If we don't use /merge then we should be merging it with the TARGET_BRANCH for the build.
Ref - https://groups.google.com/d/msg/go-cd-dev/Rt_Y5G2VkOc/xahPLku-v3cJ

[2015-03-16 02:47] srinivasupadhya commented on #11
That would mean every commit to master would cause new merge commits on github & hence new builds for each PR? if that is the case it could be very time consuming. for `gocd` on build.go.cd (user: view & password: password) the `build-linux` pipeline takes about an hour to build & hence running build for every PR for each master change is infeasible :(

[2015-03-16 03:36] ashwanthkumar commented on #11
If I understand it right, the way Travis does is - For every change in pull
requests it tries to merge it with latest target branch. Not the other way
round. Unless we are expecting a frequent short pushes to the pull
requests, this shouldn't be a problem.

Ref last paragraph in -
http://docs.travis-ci.com/user/pull-requests/#My-Pull-Request-isn't-being-built

Sent from Mobile, excuse any typos
On

[2015-03-16 03:38] ashwanthkumar commented on #11
In which case - we should check a combination of both target branch sha and
pr head sha for the change.

Sent from Mobile, excuse any typos
On Mar 16, 2015 9:06 AM, "Ashwanth Kumar" <ashwanthkumar@googlemail.com>
wrote:

[2015-03-27 14:02] jefftrimm opened #22 "Any plans to support gitlab?"
Any plans to support gitlab?

[2015-04-07 09:37] srinivasupadhya commented on #22
we added support for ref-spec based branch builds ([reference](https://groups.google.com/d/msg/go-cd-dev/Rt_Y5G2VkOc/vQvK8vqCVoYJ)). could not find ref-spec for bitbucket & gitlab. i installed gitlab locally and tried what i could find on the internet. nothing seems to work. i couldn't find anything that says they dont support though. there is this [issue](https://bitbucket.org/site/master/issue/5

[2015-04-26 15:13] stevendgonzales opened #23 "Does not seem to read oath value from .github"
I can only get the plugin to work when suppllying login and password.  The GitHub provider.addConfig doe s not seem to load the oauth setting https://github.com/ashwanthkumar/gocd-build-github-pull-requests/blob/master/src/main/java/in/ashwanthkumar/gocd/github/provider/github/GitHubProvider.java#l30

I am running go-server version 15.1.0-1845

[2015-05-11 16:24] cnorthwood opened #24 "Pre-release?"
Hi,

I was wondering what the state of this plugin was? It's linked to from go.cd, but the releases are all marked as pre-release. I've tried deploying it on my Go instance but I'm getting odd behaviour - it tries to build a single pull request (normally a really old one that was merged ages ago) after the master starts, then the build fails, and then never tries to build any more.

[2015-05-11 17:24] srinivasupadhya commented on #24
assuming you are trying gihub - can you post `plugin-github.pr.log` here so we can see what's happening.

for pre-release - @ashwanthkumar do you think we can make a stable release?

[2015-05-11 17:29] ashwanthkumar commented on #24
@srinivasupadhya Yup we can.

[2015-05-11 17:54] srinivasupadhya commented on #24
@ashwanthkumar - would be great if we could fix #17 before the stable release.

[2015-05-12 06:12] ashwanthkumar commented on #24
@srinivasupadhya I'll complete it sometime today / tomorrow and push it. We should be able to do a stable release by EOW then.

[2015-05-12 09:05] cnorthwood commented on #24
This is what it contains:

    2015-05-11 14:01:16,328  INFO [89@MessageListener for MaterialUpdateListener] GitHubPRBuildPlugin:52 - new commits: 26
    2015-05-11 14:01:17,118  INFO [90@MessageListener for MaterialUpdateListener] GitHubPRBuildPlugin:52 - new commits: 15
    2015-05-11 14:01:21,234  INFO [91@MessageListener for MaterialUpdateListener] GitHubPRBuildPlugin:52 - new commits: 103

[2015-05-14 04:53] srinivasupadhya commented on #24
@ashwanthkumar - EOW is good with me. When you are fixing #17 may be you can fix [this](https://github.com/ashwanthkumar/gocd-build-github-pull-requests/blob/master/src/main/java/in/ashwanthkumar/gocd/github/provider/github/GHUtils.java#L65) as well. (you will need to read from `~/.github` as well i suppose, since we claim support)

[2015-05-14 04:55] srinivasupadhya commented on #24
@cnorthwood - we are working on GA release. Once thats out with the https://github.com/ashwanthkumar/gocd-build-github-pull-requests/pull/25 we should be able to turn on debug logs & see whats happening. Till then you can may be check if there are any hung process (git) & let us know what version of git is installed on your server box?

[2015-05-14 11:01] kerrmarin opened #26 "UrlValidator does not correctly validate custom domains"
Hi,

Imagine I have an instance of Stash running behind my firewall using a custom URL scheme:

http://stash.vm.hello.world

A valid URL for a material will be:

http://stash.vm.hello.world/scm/project/my_repo.git

When using the default, built-in GO Git material, this URL is valid. When using Stash material type, it reports the URL as invalid.

However, this fails validation when adding the mater

[2015-05-14 12:34] kerrmarin opened #27 "Stash checkout fails"
Hey,

I've set up the pipeline to build pull requests from Stash. The agent picks up the job appropriately, but when it tries to get the material, the integration fails.

Current setup:
Server: CentOS
Agent: Mac OS X
Version: 15.1.0

I had to use the IP address to connect to Stash (see issue #26 ).

The new pipeline has 1 material of type Stash.

go-agent.log:

[code]

More logs:
[code]

And final

[2015-05-15 16:04] kerrmarin opened #29 "Stash checkout OutOfMemory"
The app that I am trying to clone is relatively large (i.e. repo is about 1.6GB).
The log for `plugin-stash.pr.log`:

[code]

[2015-05-15 18:00] superbeeny opened #30 "Unable to configure plugin"
After following the instructions the option,

[code]
I'm using github enterprise in the url field.

Nick

[2015-05-15 18:11] superbeeny commented on #30
this is the github enterprise poller

[2015-05-15 18:43] srinivasupadhya commented on #29
the implementation falls back to jgit if git is not locally installed on the box.
* can you install git on the agent machine (should be in path so git commands could be run by agent). once thats done it will prefer git commandline over jgit and you should not see this problem
* if you intend to use jgit then you might have to bump up xmx for the agent.

[2015-05-15 18:46] srinivasupadhya commented on #30
how are you configuring endpoint url? if you are doing through system property, it doesn't work yet because of #17 i think. @ashwanthkumar will be fixing it by EOW is what he said.

[2015-05-15 19:04] superbeeny commented on #30
ok I'll wait for the next release to check. Thanks for the update

[2015-05-15 19:52] superbeeny commented on #30
one question...do you delete the existing material when you update with the 'github' pr material?

[2015-05-16 00:23] srinivasupadhya commented on #30
yes, you can delete the original material, this is a replacement to that!

[2015-05-16 05:37] srinivasupadhya commented on #26
this should be simple enough to fix. will do when i find time. thanks for reporting.

[2015-05-16 12:22] stevendgonzales opened #31 "git submodules broken over SSH"
For a repo with submodules, I am getting the below error.  Any advice?
[code]

[2015-05-17 11:34] stevendgonzales commented on #31
It appears this does not work because the command `git config --get-regexp ^submodule\\..+\\.url` does not work because `git submodule init` as been called.

[2015-05-17 12:20] stevendgonzales commented on #31
@srinivasupadhya It looks like submodule checkouts may have been broken in commit https://github.com/ashwanthkumar/gocd-build-github-pull-requests/commit/895d9a22324bd1f9e6f642eebc61871311cada1f
as it was working prior at https://github.com/ashwanthkumar/gocd-build-github-pull-requests/commit/9a594cd6edaa37ff9bc9bb14d9ddb8050e99ee64

[2015-05-17 12:27] stevendgonzales commented on #24
It would be nice to fix #31 before stable release as the plugin is broken on repos that have git submodules.  I'm happy to submit a PR to fix if needed.

[2015-05-17 12:36] stevendgonzales commented on #31
trying to track down root cause, as it appears to come from https://github.com/srinivasupadhya/git-cmd/blob/master/src/com/tw/go/plugin/GitHelper.java

[2015-05-17 14:11] stevendgonzales commented on #31
First exception is related to `com.tw.go.plugin.GitHelper.fetchAndReset(GitHelper.java:100)` in the git-cmd repo.  I have opened an issue and suggested a possible fix that I can implement here: https://github.com/srinivasupadhya/git-cmd/issues/1

[2015-05-17 15:14] stevendgonzales opened #32 "git submodules broken over https"
when attempting to build a repo with git submodules over https, the following exception is raised:

[code]

[2015-05-17 15:18] stevendgonzales commented on #32
This looks to be related to the jgit [checkoutSubmodule()](https://github.com/srinivasupadhya/git-cmd/blob/master/src/com/tw/go/plugin/jgit/JGitHelper.java#420-433)

[2015-05-17 20:27] aksk08 opened #33 "Gerrit FastForwardOnly - code not refresh after second commit"
Build is not run when change is updated (not created). Case:
I have private git and gerrit. Projects in gerrit are defined with Submit Type = FastForwardOnly.

In model pipeline materials is pointed to my gerrit. Pipeline is simple: when some changes are noticed  some maven task should be run and the result send to gerrit as verification status.

When I push the first commit it starts a new build

[2015-05-18 02:46] srinivasupadhya commented on #33
Thanks for reporting.

Do you think https://github.com/ashwanthkumar/gocd-build-github-pull-requests/pull/34 fixes it? or do you think there is something more to be done?

[2015-05-18 02:48] srinivasupadhya commented on #33
Also, I have written a [build status notifier](https://github.com/srinivasupadhya/gocd-build-status-notifier) with the intention to update changeset with build status. It currently supports Github PR & Stash PR updates. Im trying to figure out how to update changeset with status. It would be great if you could help me out with anything!

[2015-05-18 07:27] aksk08 commented on #33
Hi,
I think that the change should solve the problem.

I am using <a href="https://gerrit-documentation.storage.googleapis.com/Documentation/2.11/cmd-review.html"> gerrit review</a> command to add comments and review to a patch. In pipeline there is a task which sends verification status via custom command, where gerrit review looks like following:

ssh myGerrit gerrit review --label Verified=$1 $

[2015-05-18 08:27] kerrmarin commented on #29
Hi there,

git is installed on the agent:
[code]
And:
[code]

[2015-05-18 14:24] srinivasupadhya commented on #33
great. i will give that a try & let you know if i face more issues.

[2015-05-19 08:50] #33 closed

[2015-05-19 08:53] srinivasupadhya commented on #29
That is odd :( will dig deeper into this after GA release.

[2015-05-19 08:55] srinivasupadhya commented on #27
Can you post output of `plugin-stash.pr.log` that is on the agent?

[2015-05-19 09:02] srinivasupadhya commented on #32
fixed in [git-cmd](https://github.com/srinivasupadhya/git-cmd). Will make new release with update soon.

[2015-05-19 09:02] #32 closed

[2015-05-19 09:02] srinivasupadhya commented on #31
fixed in [git-cmd](https://github.com/srinivasupadhya/git-cmd). Will make new release with update soon.

[2015-05-19 09:02] #31 closed

[2015-05-19 09:27] srinivasupadhya commented on #26
fixed with https://github.com/ashwanthkumar/gocd-build-github-pull-requests/commit/9344e0a4e07fe47061cf870efed648c71d4f964d

[2015-05-19 09:27] #26 closed

[2015-05-19 10:54] kerrmarin commented on #29
This also happens when running the plugin via Docker (https://github.com/gocd/gocd-docker/blob/master/Dockerfile.gocd-dev - after updating the agent and server to 15.1.0 in the dockerfile). Here's the logs from there:

Agent:

[code]

go-agent.log:

[code]

plugin-stash.pr.log

[code]

[2015-05-19 11:30] ashwanthkumar commented on #30
@superbeeny Are you using the oauth or username / password based authentication?

[2015-05-19 11:47] kerrmarin commented on #27
I'm able to run the stash plugin using docker, but it always fails using a mac (and we need it to run on a mac to build ios apps). Hopefully this helps :)

I'll have a look and see if I can find the plugin-stash.pr.log for this, but I don't think it's around anymore.

[2015-05-19 11:55] kerrmarin commented on #27
Here's what I have in the `plugin-stash.pr.log` -- it's not the same job as above, but the errors are the same (i think):

[code]

[2015-05-19 12:34] superbeeny commented on #30
oauth in a .github file in the go user's home directory

[2015-05-19 13:38] stevendgonzales commented on #32
Thank you! I Will test out the new release
On Tue, May 19, 2015 at 4:03 AM srinivas upadhya <notifications@github.com>
wrote:

[2015-05-19 16:58] superbeeny commented on #30
Found the first issue, when you hit copy for the clone url in GHE it has the suffix .git and it appears the code in GHUtils does not expect this for enterprise github. As soon as I removed the .git suffix from the url it started working.

[2015-05-19 18:12] ashwanthkumar opened #37 "Not using ~/.github while doing cloning"
We're not using the credentials from ~/.github while cloning, we only use the username and password from the material configuration.

[2015-05-19 18:18] ashwanthkumar commented on #30
Thanks for pointing it out. It looks like the clone is failing, we don't seem to be passing the auth from ~/.github while doing cloning. I've created an issue to track it #37.

[2015-05-21 05:26] #17 closed

[2015-05-21 05:27] srinivasupadhya commented on #23
@ashwanthkumar - Is this fixed as part of #17? If so can you please close this?

[2015-05-21 05:29] ashwanthkumar commented on #23
@srinivasupadhya Yes this should be handled now.

[2015-05-21 05:29] #23 closed

[2015-05-21 05:31] ashwanthkumar commented on #30
@superbeeny The thing is, we use the file at `~/.github` only for PR access. There's an implicit assumption that SSH keys are configured on the agents to connect to Github for cloning the repos.

@srinivasupadhya What are your thoughts on this?

[2015-05-21 05:34] srinivasupadhya commented on #30
We could add support for `~/.github` file access as well. The code [here](https://github.com/ashwanthkumar/gocd-build-github-pull-requests/blob/master/src/main/java/in/ashwanthkumar/gocd/github/GitHubPRBuildPlugin.java#L265) needs to handle that bit. It could delegate it to provider if `username` & `password` is not available & `GithubProvider` could add them if available in `~/github`.

[2015-05-21 05:35] srinivasupadhya commented on #13
closing this for now. will reopen if someone complains.

[2015-05-21 05:35] #13 closed

[2015-05-21 05:39] srinivasupadhya commented on #11
@ashwanthkumar - we could potentially use merge commits as opposed to top commit of PR for builds. But there is some flakiness inherent to the approach (as you mentioned above). Will see how I can solve this.

[2015-05-21 05:45] srinivasupadhya commented on #30
@ashwanthkumar - if #37 is the only issue, can we close this?

[2015-05-21 05:46] #30 closed

[2015-05-21 05:51] srinivasupadhya commented on #37
just saw - should [this](https://github.com/ashwanthkumar/gocd-build-github-pull-requests/blob/master/src/main/java/in/ashwanthkumar/gocd/github/GitHubPRBuildPlugin.java#L267) & [this](https://github.com/ashwanthkumar/gocd-build-github-pull-requests/blob/master/src/main/java/in/ashwanthkumar/gocd/github/provider/github/GitHubProvider.java#L31) take care of it?

[2015-05-21 05:55] ashwanthkumar commented on #37
Oh yes, you're right. We can close this then.

[2015-05-21 05:55] #37 closed

[2015-05-21 06:02] srinivasupadhya commented on #37
we closed both #37 & #30. I hope the original issue is fixed!

[2015-05-21 06:26] srinivasupadhya commented on #24
we have a GA now. closing this.

[2015-05-21 06:26] #24 closed

[2015-05-22 08:31] kerrmarin opened #38 "Plugin still reports version 0.1"
Hey,

Not a big problem in any way but I updated the plugin this morning, restarted the server, and I noticed that under the plugins page, the version is still 0.1 (in grey just after the plugin name).

![screen shot 2015-05-22 at 09 29 41](https://cloud.githubusercontent.com/assets/2995710/7766857/716d4c56-0065-11e5-9f40-fc55a3253af4.png)

[2015-05-22 08:33] ashwanthkumar commented on #38
My bad. Will fix it.

[2015-05-22 08:57] #38 closed

[2015-05-22 09:00] ashwanthkumar commented on #38
@kerrmarin Please switch to v1.1 it should be right now.

[2015-05-26 10:39] paulclarkin commented on #22
This issue is on [Gitlab Feature Requests](http://feedback.gitlab.com/forums/176466-general/suggestions/7126843-expose-merge-requests-as-refspecs) too.

[2015-05-26 10:56] paulclarkin commented on #22
Is there any information that can be gained from studying what [this Jenkins plugin](https://github.com/timols/jenkins-gitlab-merge-request-builder-plugin) does?

[2015-05-26 12:12] srinivasupadhya commented on #22
IMHO, this plugin is for ref-spec based branch builds. if we plan to use APIs to do the same i would strongly suggest having a seperate codebase to keep this from getting compilcated. will leave the final call for @ashwanthkumar

[2015-05-28 16:22] kerrmarin commented on #27
Was that enough for you to debug the situation? I'd really like to be able to build pull requests through Stash :)

[2015-06-09 08:34] pastafari opened #39 "Username and password is auto-populated during setup"
Hi,

I'm trying to setup a Github Pull Request polling branch using the steps in the README. Everything works great when there is no authentication mechanism enabled in Go. However, if I am logged in as a certain user, then the Username and password fields in the material setup get auto-populated as my Go username and password :confused:  Even when I delete those values and save the material, when

[2015-06-09 08:37] ashwanthkumar commented on #39
Do you have your username and password saved on the browser? - I suspect it is that. Can you try and see if you can re-produce the same issue on a different browser which doesn't a password saved for you go-server domain.

/cc: @srinivasupadhya

[2015-06-09 08:42] pastafari commented on #39
@ashwanthkumar I was just doing that when I saw your reply. I think you are right, its my browser thats populating those fields. Very confusing!

Thanks for the quick reply, I'll close this.

[2015-06-09 08:42] #39 closed

[2015-06-09 09:27] pastafari opened #40 "Git Feature Branch plugin does not respect credentials in ~/.github"
I am trying to setup the feature branch plugin to work with a Github repo. There's a few problems:

1. It does not allow me to use a SSH clone URL of the form `git@github.com:...` by saying Invalid URL.
![screen shot 2015-06-09 at 3 01 35 pm](https://cloud.githubusercontent.com/assets/193407/8054737/76b121c2-0eb8-11e5-978b-8f449e786b0c.png)

2. If I use an https URL, then it does not respect my gi

[2015-06-11 08:23] kerrmarin commented on #29
Hey,

Have you had a chance to look into this?

[2015-06-11 08:31] srinivasupadhya commented on #29
No, sorry about that. Did you try the GA release? does the problem persist?

[2015-06-11 10:30] kerrmarin commented on #29
I've tried the latest release (1.1), still have the same issues unfortunately.

[2015-06-11 14:00] aps-sids opened #41 "Deleting a pipeline does not delete the corresponding SCM (material) entry in config file"
If we delete a pipeline using a Github material, the SVN entry is not removed from config file. Hence, while adding material for "Git feature branch", we can't use the previous material name since a duplicate entry exists in the config file. Refer following screenshot.

![screen shot 2015-06-11 at 7 27 38 pm](https://cloud.githubusercontent.com/assets/2363074/8108794/495cada4-1070-11e5-90c8-394ef1

[2015-06-12 05:31] srinivasupadhya commented on #41
yes. that is by design of Go. SCMs (pluggable) are treated as global entities & they will need to be removed separately. refer to do section of https://github.com/gocd/gocd/issues/818.

[2015-06-12 05:31] #41 closed

[2015-06-12 05:39] srinivasupadhya commented on #40
i think `URLUtils.isValidURL(url)` is not validating correctly. please log a bug & i will fix it when i can. for now you can bypass the Go Server validation by directly editing the config xml & using ssh based url.

thats because github allows cloning of public repositories without requiring any credentials.

you are right. 'git feature branch' plugin is a independent plugin & does not support `~/

[2015-06-12 05:42] srinivasupadhya commented on #27
@kerrmarin - is this fixed with GA release?

[2015-06-12 06:00] srinivasupadhya commented on #40
closing this for now. feel free to raise separate issues for specific problems.

[2015-06-12 06:00] #40 closed

[2015-06-12 08:27] kerrmarin commented on #27
Hi @srinivasupadhya, no this is not fixed as of the latest release (and neither is #29).

thanks!

[2015-06-15 09:41] srinivasupadhya opened #42 "hung on socket read"
[code]

[2015-06-15 10:07] srinivasupadhya commented on #42
@ashwanthkumar - can you review the commit & close this if it seems fine.

[2015-06-15 12:01] srinivasupadhya opened #43 "bug in json parsing"
[test case](https://github.com/ashwanthkumar/gocd-build-github-pull-requests/commit/d19ded0856d8e442d515dd8f48e587013e20e087#diff-233e2c0885db6b1e5d84f174be58010eR164)

[2015-06-15 12:09] srinivasupadhya commented on #43
@ashwanthkumar - this is a simple gson upgrade. you can close this if you do not have any issues with the upgrade.

[2015-06-16 12:01] aps-sids commented on #41
I think there should be an option to use existing SCM in that case. Is there something planned?

[2015-06-16 12:07] srinivasupadhya commented on #41
that is also something that Go needs to provide ability for. there is an issue logged for it - https://github.com/gocd/gocd/issues/1078

[2015-06-17 06:50] ashwanthkumar commented on #42
Do we know why this happens?

[2015-06-17 06:57] srinivasupadhya commented on #42
i guess we made too many calls to GitHub & they blocked us? Saw this on build.go.cd instance.

[2015-06-17 08:13] arthurk opened #44 "Support for build status context"
Hi,

in github it is possible to report the status with a specific context: https://developer.github.com/v3/repos/statuses/

You can check the Docker repo to see how it looks: https://github.com/docker/docker/pull/13959

It would be nice if this plugin could support this feature.

[2015-06-17 08:30] srinivasupadhya commented on #44
build status is supported via a separate [plugin](https://github.com/srinivasupadhya/gocd-build-status-notifier) & it already supports context in build status - sample: https://github.com/srinivasupadhya/sample-repo/pull/7

[2015-06-17 09:22] arthurk commented on #44
perfect, thanks! i'm closing this ticket then

[2015-06-17 09:22] #44 closed

[2015-06-17 09:52] #43 closed

[2015-06-17 10:02] ashwanthkumar commented on #42
I don't see it anymore, how did you fix it? From the Github [Documentation](https://developer.github.com/v3/#abuse-rate-limits) it looks they would return us a 403. This could be a symptom of something else.

Also the proposed change seems to allow changing the PR info completely on / off until a restart since the flag comes from system properties. Is that intended?

[2015-06-17 10:08] srinivasupadhya commented on #42
yes. the socket read is a blocking call & would require server restart to fix it anyway.

[2015-06-17 10:18] palinf opened #45 "ssh url not supported for git-fb"
When creating a new material of type **Git Feature Branch**
The material plugin does not accept ssh git urls (as the classical git material accept)

Url like ```ssh://myServer/myPath/myProject.git```
The following error is displayed: Invalid Url

[2015-06-23 10:36] waynedovey commented on #45
It would be good to also allow user@myserver:mypath/myproject.git. Please let me know if that's possible?

[2015-06-23 11:02] srinivasupadhya commented on #45
@ashwanthkumar - i have turned off url validation for now ([commit](https://github.com/ashwanthkumar/gocd-build-github-pull-requests/commit/e4cad16afc0db90e7b264048e01ddbbcea1e5ff3)). Will fix it once i figure out a regex for http/https/ssh/file etc.

[2015-06-24 08:47] akurkin opened #46 "BitBucket Support"
Hello, have any plans to build support for BitBucket?

[2015-06-24 09:05] srinivasupadhya commented on #46
explained in #22

[2015-06-24 09:06] akurkin commented on #46
thank you @srinivasupadhya

[2015-06-24 18:55] jozefs opened #47 "Only latest Gerrit commit built"
Hi,

It seems that this plugin only builds the latest commit pushed for review on Gerrit. For example, if I push 5 commits for review to the master branch at one time, the pipeline is triggered only once.

I was wondering if this was intentional, a bug or a misconfiguration on my part? The usual Gerrit workflow is per-commit, where every commit has to be built, tested and correct. In this model, e

[2015-06-25 04:53] srinivasupadhya commented on #47
When i wrote gerrit plugin i assumed one review can have only one commit. when you make a new commit on an existing review it becomes a new review. There are some [shortcomings](http://www.go.cd/2015/04/27/Feature-Branch-Support.html) in the current feature-branch support & hence you will only see the top commit of the new review.

it would be great if you could provide me details of the API so i

[2015-06-26 16:53] srinivasupadhya commented on #47
I added support for [gerrit status notifer](https://github.com/srinivasupadhya/gocd-build-status-notifier/releases).

[2015-06-26 16:54] srinivasupadhya commented on #33
i have added support for [gerrit status notifier](https://github.com/srinivasupadhya/gocd-build-status-notifier/releases).

[2015-06-27 14:03] aksk08 commented on #33
thanks.
I have installed it, added system properties
(go.plugin.build.status.go-server, go.plugin.build.status.gerrit.username,
go.plugin.build.status.gerrit.password) and no changes in the gerrit. Maybe
properties are not correct?

2015-06-26 18:54 GMT+02:00 srinivas upadhya <notifications@github.com>:

[2015-06-29 07:59] srinivasupadhya commented on #33
Thanks for giving it a shot & reporting the bug! I had forgotten to add support for system property with gerrit. I have updated the gerrit plugin with the required changes & docs for the same. Can you reinstall plugin & give it a try? thanks.

[2015-06-29 11:02] aksk08 commented on #33
Right now I have got 401 error. I have used the same URL which is set in
the Gerrit Change Set plugin but this time it has not worked. The gerrit
normally  is run via https (only connection from the same machine can be
via http). When URL is changed to https, certificate problem occurs:
sun.security.provider.certpath.SunCertPathBuilderException: unable to find
valid certification path to requested

[2015-06-30 12:29] aksk08 commented on #33
Something odd is logged. I have set *https://gerrit.development-ci
<https://gerrit.development-ci>* (this is the intranet server so hostname
is custom) as endpoint and in the log file is:

[65@MessageListener for PluginNotificationListener
] BuildStatusNotifierPlugin:77 - Error occurred. Could not update build
status -
 *URL: http://127.0.0.1:8080/simple-test
<http://127.0.0.1:8080/simple-test>* R

[2015-06-30 13:05] srinivasupadhya commented on #33
no, if you see [here](https://github.com/srinivasupadhya/gocd-build-status-notifier/blob/master/src/main/java/com/tw/go/plugin/provider/gerrit/GerritProvider.java#L40) im using `go.plugin.build.status.gerrit.endpoint`.

and https://github.com/ashwanthkumar/gocd-build-github-pull-requests/issues/26 is fixed & is available in v1.2

[2015-07-01 07:47] aksk08 commented on #33
I am not able to set recognized certificate. I have added self-sign
certificate to the /etc/go/truststore file and Gerrit Change Set plugin
works correctly with https. But Gerrit Change Set status notifier still
logs "unable to find valid certification path to requested target". Even
when it is runs with system property
-Djavax.net.ssl.trustStore=/etc/go/truststore. When ssl debug is activated
onl

[2015-07-02 21:00] qianyu668899 commented on #11
@srinivasupadhya is this issue solved correctly? I am still struggling with the same problem

[2015-07-02 21:02] qianyu668899 commented on #11
![screen shot 2015-07-02 at 5 01 31 pm](https://cloud.githubusercontent.com/assets/3368398/8487759/0c4417d2-20dc-11e5-9096-1053125c84ab.png)

[2015-07-02 21:02] grahamc commented on #11
I have also experienced similar issues.

[2015-07-13 15:21] kerrmarin commented on #29
Hi there, I've tested release 1.2 and this issue is still there

[2015-07-15 12:24] kerrmarin commented on #29
This can be worked around by increasing the -Xmx on the agent inside the Info.plist for Go Agent.app from:

[code]

to
[code]

I don't know if it's possible to pass this in as a parameter, but that would be better than this solution.

[2015-07-19 19:54] jozefs commented on #47
Sorry for the long silence. I've read the shortcomings you linked to, and it looks like https://github.com/gocd/gocd/pull/939 was supposed to be the change that adds support for building multiple Git commits. However, that pull request seems to have been closed before it was merged. Can you please clarify which pull request or issue in gocd references the multiple commit build issue?

I've also ha

[2015-07-24 13:35] kerrmarin opened #48 "Make pull request creator's email available as an environment variable for Stash provider"
Hey,

It would be great to have available the email of the user that created the pull request for notifications etc.

Thanks!

[2015-08-19 07:55] #46 closed

[2015-08-26 21:52] jeisen opened #49 "Unable to configure for private repository"
I'm attempting to create PR pipelines for private GitHub repositories. I already have them all set up using the standard Git material configuration, using the SSH endpoints and with the private key stored in ~/.ssh.

I've set up a pipeline using the PR plugin, and have tried using both the http and ssh endpoints, and using a ~/.github with both standard user/password auth and OAuth. All combinatio

[2015-08-28 14:08] ashwanthkumar commented on #49
@jeisen Can you please let me know the Go CD version and plugin version you're using?

[2015-08-28 14:12] jeisen commented on #49
GoCD: 15.2.0(2248-c1f90a6aa3192a)
Plugin: 1.2

[2015-08-28 14:17] ashwanthkumar commented on #49
We're still on GoCD 15.1 version and it is working fine on our setup. Will check out over the weekend and keep you posted.

[2015-09-02 08:33] kerrmarin opened #51 "Intermittent clone failures"
Hi,

This plugin intermittently fails with the following error:

[code]

The output from `plugin-stash.pr.log`:

[code]

The agent is running on a Mac Mini.

[2015-09-03 11:24] albertpastrana commented on #51
I believe that's the same issue as #49

[2015-09-03 11:27] albertpastrana commented on #49
@ashwanthkumar did you have a chance to take a look at that? We are facing the same problem and downgrading to 15.2 would be painful as we want to use the github auth plugin as well (which requires GoCD >= 15.2)

[2015-09-03 14:24] albertpastrana commented on #49
Btw, after some (too much) struggling we've seen the problem was ours as we had a problem with the repo url and the token.
It's working now with 15.2 without problems.

[2015-09-03 16:25] jeisen commented on #49
@albertpastrana Can you share exactly what it was that was the problem, or how you found it? We're still facing this issue and has become a blocker large enough to abandon GoCD for the moment.

[2015-09-03 18:29] ashwanthkumar commented on #49
@jeisen Sorry for the delay in response. I just upgraded our internal setup to GoCD 15.2.0(2248-c1f90a6aa3192a) and 1.2 version of the plugin and it works fine for our private repos on Github. Actually the plugin wouldn't use jGit if it can find `git` in PATH. [This](https://github.com/srinivasupadhya/git-cmd/blob/master/src/com/tw/go/plugin/HelperFactory.java#L13) code path ensures that.
Can you

[2015-09-03 18:30] ashwanthkumar commented on #49
Also from the logs I see `git@github:<my_repo>.git`, are you using just `github` with special PEM file configured on `~/.ssh/config` or was it just a typo?

[2015-09-03 18:31] ashwanthkumar commented on #49
@albertpastrana Even I'm curious to know what the problem was, may be something I can add to README as FAQs.

[2015-09-03 18:50] ashwanthkumar commented on #51
@kerrmarin Do you have `git` utility on the PATH of the Go Agent? Personally I prefer `git` over `jgit`. The plugin checks for `git` on the PATH if not found falls back to `jgit` based implementation.

[2015-09-03 19:00] ashwanthkumar commented on #48
@kerrmarin It is already available as `GO_SCM_<SCM_NAME>_AUTHOR_EMAIL`.

[2015-09-03 19:03] ashwanthkumar commented on #48
I'm closing this issue.

[2015-09-03 19:06] ashwanthkumar commented on #45
I'm closing this.

[2015-09-03 19:06] #45 closed

[2015-09-03 19:07] ashwanthkumar commented on #42
@srinivasupadhya Did you happen to see this issue again on build.go.cd ? If not, lets close this.

[2015-09-03 19:09] ashwanthkumar commented on #22
I agree with @srinivasupadhya if we're going to use APIs then we need to build it as a separate plugin. Closing the ticket.

[2015-09-03 19:09] #22 closed

[2015-09-03 20:04] ashwanthkumar opened #52 "Remove jGit dependency in favour git command line"
Issues like #49, #51 and #29 all revolve around jGit.
@srinivasupadhya I'm thinking of moving away from jGit completely in favour git command line. Thoughts?

[2015-09-03 22:14] jeisen commented on #49
@ashwanthkumar Yes, sorry, that was me deleting too much in obfuscating the real repo name.

 org.eclipse.jgit.errors.TransportException: git@github.com:<myrepo>.git: Auth fail

[2015-09-03 22:19] jeisen commented on #49
Check Connection gives "Could connect to URL successfully"

We do have git in the global path. I have go-server running inside a Docker container that runs '/usr/share/go-server/server.sh' in a shell, which should not have any issue seeing git in the path.

[2015-09-04 01:23] srinivasupadhya commented on #52
yes we could, in which case not finding git in path will fail & say the same?

[2015-09-04 03:03] ashwanthkumar commented on #52
Yes.

[2015-09-04 05:38] #52 closed

[2015-09-04 05:47] ashwanthkumar commented on #49
@jeisen We just released `v1.2.1`. In this we've moved away from jGit completely. Please do try that and let me know if that helps.

Meanwhile, if you could share some details on docker-GoCD integration, I could try replicating the issue locally.

[2015-09-04 05:53] ashwanthkumar commented on #49
@jeisen I just stumbled upon this issue today on a different context. The private key has been [added to ssh-agent](https://help.github.com/articles/generating-ssh-keys/#step-3-add-your-key-to-the-ssh-agent) right?

[2015-09-04 07:26] ashwanthkumar commented on #29
@kerrmarin We now have a v1.2.1 which removes jGit and uses only git command line. Please give that a shot and let us know if that fixes your problem.

[2015-09-04 07:34] albertpastrana commented on #49
@jeisen @ashwanthkumar it was actually a silly mistake but somehow we had some problems troubleshooting it.

We were connecting to a github private repo. When we did setup the material we entered the url as `https` instead of `git` and performed the validation of the connection. It was successful.

Later, when running the pipeline, we were seeing an error staying that it was unable to clone. It wa

[2015-09-16 08:28] prisamuel commented on #49
I see the same issue pulling from a private repository with the latest (v.1.2.1 git-pull-request-builder) and the GoCD version 15.2.0.

I've set up the file ~/.github with my oauth token. I'm able to build PR's from public repositories but not from private github repositories.

Here's the error message from GoCD's console:
Modification check failed for material: [url=https://github.com/private-rep

[2015-09-16 11:56] ashwanthkumar commented on #49
@prisamuel Looks like you're using HTTPS based url. Can you try using the SSH url for the repo?

[2015-09-16 12:00] ashwanthkumar commented on #49
We don't have support for doing HTTPs urls now that we're using only Git command line tool.

[2015-09-16 12:29] prisamuel commented on #49
The first try was with the git ssh url. I get very similar errors.

Modification check failed for material: [url=git@github.com:private-repo/blah.git] [Sep-16 12:27:00]
Interaction with plugin with id 'github.pr' implementing 'scm' extension failed while requesting for 'latest-revision'. Reason: [Unsuccessful response from plugin. Plugin returned with code '500' and the following response: '"Excep

[2015-09-16 12:32] ashwanthkumar commented on #49
@prisamuel Can you check the plugin.github.pr.log? Also, does the command work normally when executed via Shell?

[2015-09-16 13:05] prisamuel commented on #49
I checked the command line git clone with the https url using the oauth token and it works. With the ssh url, the git clone shell command doesn't  take the token.

Here's the log from plugin.github.pr.log :
`
2015-09-16 13:04:00,381  INFO [91@MessageListener for MaterialUpdateListener] GitHubPRBuildPlugin:52 - Flyweight: /var/lib/go-server/pipelines/flyweight/27ef9622-228d-4e1a-9db1-1e80c0d05a8e
2

[2015-09-16 13:47] ashwanthkumar commented on #49
Actually OAuth is used only for making github api calls. Not for repo cloning in https urls. I guess that's a bug on our end. I'll fix that.

For ssh urls the server's .ssh/id_rsa or id_dsa key must be added on github against an account. This is very similar to default Git material with ssh urls.

Sent from mobile, excuse any typos

-----Original Message-----
From: "Priya Samuel" <notifications@gi

[2015-09-16 13:50] ashwanthkumar commented on #49
Actually I meant the public key not the private key. Sorry.

.ssh/id_rsa.pub

Sent from mobile, excuse any typos

-----Original Message-----
From: "Priya Samuel" <notifications@github.com>
Sent: ‎16-‎09-‎2015 18:35
To: "ashwanthkumar/gocd-build-github-pull-requests" <gocd-build-github-pull-requests@noreply.github.com>
Cc: "Ashwanth Kumar" <ashwanthkumar@googlemail.com>
Subject: Re: [gocd-build-git

[2015-09-16 15:02] ashwanthkumar opened #54 "Use OAuth Token while using HTTPs urls for cloning"
Ref - https://github.com/blog/1270-easier-builds-and-deployments-using-git-over-https-and-oauth

[2015-09-18 10:41] ashwanthkumar commented on #49
@prisamuel and @jeisen is the new version working for you guys after the changes to use SSH urls? In which case can I close the issue?

[2015-09-18 10:43] ashwanthkumar commented on #51
@kerrmarin Please do try v1.2.1 release and let us know if that works for you.

I'm closing this issue. Feel free to re-open if you're still facing issues.

[2015-09-18 10:43] #51 closed

[2015-09-21 08:29] prisamuel commented on #49
Thanks. This is no longer an issue for me. https://github.com/ashwanthkumar/gocd-build-github-pull-requests/issues/54 would solve the core issue I mentioned earlier.

[2015-09-21 08:41] #49 closed

[2015-09-23 15:39] jx1471 opened #55 "Clone fails on mac as of release 1.2.1"
Default macosx agent path has spaces that 'git-cmd' does not handle properly in release 1.2.1. This prevents proper cloning of repos. Pull request 7 for 'git-cmd' resolves this issue, suggest another minor release since this issue greatly affects compatibility with macosx.

See pull request for details:
https://github.com/srinivasupadhya/git-cmd/pull/7

[2015-09-23 15:47] ashwanthkumar commented on #55
@jx1471 Please checkout the v1.2.2 on https://github.com/ashwanthkumar/gocd-build-github-pull-requests/releases/tag/v1.2.2

Thanks :+1:

[2015-09-23 15:47] #55 closed

[2015-10-08 06:29] cw-deenbandhu commented on #4
Hi Ashwanth,
I am not able to see all those variables in the console can you please help me out

[2015-10-08 10:19] ashwanthkumar commented on #42
Closing this.

[2015-10-08 10:19] #42 closed

[2015-10-29 22:47] danielmoore opened #56 "Github material missing"
Hi,

I've installed the girtub-pr-poller v1.2.3 on go 15.2.0 and confirmed it's installed on the plugins page. However, I don't see the Github material when setting up a new pipeline.

The only thing in the server log that seems relevant is this:

[code]

But this is supposed to be [a benign issue](https://github.com/gocd/gocd/issues/1329).

[2015-10-30 08:13] ashwanthkumar commented on #56
Do you see anything on the plugin logs? Also a stupid question really - Did you try restarting your Go Server after installing the plugin?

[2015-10-30 12:33] danielmoore commented on #56
Yep, restarted several times.

I'm only aware of the log file at `/var/log/go-server/go-server.log`. Where are the plugin logs?

[2015-10-30 12:41] ashwanthkumar commented on #56
Along side the server logs, you should be able to see the `plugin.github.pr.log` or something similar.

[2015-10-30 12:56] danielmoore commented on #56
Hmmm... I don't see it:

[code]

[2015-10-30 12:59] ashwanthkumar commented on #56
Can you share the contents of `/etc/default/go-server` file?

[2015-10-30 13:00] danielmoore commented on #56
[code]

[2015-10-30 13:03] ashwanthkumar commented on #56
At this point, I can't think of any other reason why the Go server wouldn't load the plugin. Can you please raise this issue at go-cd@googlegroups.com. I'm sorry :(

[2015-10-30 13:13] danielmoore commented on #56
Ok, thanks. For archival, here's the topic: https://groups.google.com/d/msg/go-cd/wUsL5w2SFZw/ec5-xzpVAwAJ

[2015-10-30 15:02] arvindsv commented on #56
Saw your post of the go-cd list. Can you post a screenshot of the plugins listing page, and the whole server log?

[2015-10-30 17:51] danielmoore commented on #56
![installed-plugins](https://cloud.githubusercontent.com/assets/616152/10853578/291a510c-7f0d-11e5-9c79-1b40a11703e8.png)

(sorry, I wasn't allowed to attach this as a file)

[code]

[2015-11-03 02:25] phylake commented on #56
Any updates on this? I'm hitting the same issue

[2015-11-03 12:27] arvindsv commented on #56
Hi @danielmoore and @phylake: No, I don't have any updates on it, but I'm curious about what's going on. Do any of use vagrant or docker or something, so that I can see this in action? If not, let me know and I will set it up and see, today. Thanks.

[2015-11-05 09:44] srinivasupadhya commented on #56
[code]
this can be safely ignored. from the screenshot it looks like the plugin has been loaded (not greyed out).
you will not see 'github' plugin in new pipeline page. create a pipeline with dummy material & add github material later.

[2015-11-19 10:09] nap-sam-dean opened #57 "Faster git checkouts"
Hi,

Would it be possible to add a `--depth=1` parameter to the git-fetch, this would drastically speed getting materials. AFAIK GO doesn't use the previous commits for anything, but I might be wrong?

If you can point me in the right direction I don't mind taking a look myself, but I've never written a plugin for GO and my Java is rusty :(

[2015-11-20 20:46] nperumal commented on #56
I am experiencing same issue on ubuntu. Is this has been resolved or Any workaround?

java.lang.RuntimeException: Interaction with plugin with id 'yum' implementing 'package-repository' extension failed while requesting for 'go.plugin-settings.get-configuration'. Reason: [Unsuccessful response from plugin. Plugin returned with code '400' and the following response: 'Invalid request name go.plugin-

[2015-11-20 20:47] arvindsv commented on #56
I'd really like to find out what's going on. Is this on a VM or container that I can try and reproduce this on?

[2015-11-20 22:20] nperumal commented on #56
It is on VM:
Linux testdesktop 3.19.0-28-generic #30~14.04.1-Ubuntu SMP Tue Sep 1 09:32:55 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

[2015-11-20 22:21] arvindsv commented on #56
Great. What I mean is, I'm looking for a way to reproduce this or see it myself. Is this a throwaway VM you can share with me, or a container that I can see or, if you have a vagrant box or something I can use.

[2015-11-20 22:26] nperumal commented on #56
Oh. Sorry. Can not share this machine. :( Let me see If I can find a machine that can be shared.

[2015-11-20 23:05] nperumal commented on #56
Another VM the UI is working: Linux ***** 3.13.0-29-generic #53-Ubuntu SMP Wed Jun 4 21:00:20 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux.

[2015-11-20 23:14] arvindsv commented on #56
Hmm. Same build and same plugin, and it's working? So, definitely some environment-related issue. If you can somehow share with me, a VM where it's not working, I'll be happy to take a look.

[2015-12-04 13:56] yunlzheng opened #59 "GoCD job will fails when there have no pull request in github"
The Go-Agent log as follow:

[code]

[2015-12-11 09:31] PavelAgejkin opened #60 "retest this please"
Hi,
I cant find "retest this please" feature.
Is there any options to trigger go pipeline again, without commit?

[2015-12-13 04:40] ashwanthkumar commented on #60
Have you tried "Trigger with options"?

PS: Personally I've not tried it.

[2015-12-13 04:42] ashwanthkumar commented on #59
By default the plugin will build against the `master` branch. From the logs looks like the checkout from master is failing. Any idea why? Does your repo not have a master branch?

[2015-12-13 04:43] ashwanthkumar commented on #59
It would be nice if you can share the plugin logs as well. They're generally named with `plugin` prefix under the same location where the Go logs are present.

[2015-12-13 05:01] ashwanthkumar commented on #29
Closing the ticket. Please re-open if the issue still persist even after moving to v1.2.1.

[2015-12-13 05:01] #29 closed

[2015-12-13 05:33] ashwanthkumar commented on #56
@nperumal Were you able to find the root cause of the issue? If so, can we close this issue?

[2015-12-13 05:47] nperumal commented on #56
Yes. Found out that had issue with public  port issue on my VM which was on the cloud. It is working on my first VM i had the issue.  Thanks 
Sent from Yahoo Mail on Android

  On Sat, Dec 12, 2015 at 9:33 PM, Ashwanth Kumar<notifications@github.com> wrote:
@nperumal Were you able to find the root cause of the issue? If so, can we close this issue?

—
Reply to this email directly or view it on Git

[2015-12-13 05:49] ashwanthkumar commented on #56
Awesome. Closing this issue.

[2015-12-13 05:49] #56 closed

[2015-12-13 15:34] PavelAgejkin commented on #60
Could you please point, where I can find "Trigger with options"?

[2015-12-13 15:40] ashwanthkumar commented on #60
TLDR - It is the Play with button with a + on the pipeline.

Ref -
https://www.go.cd/documentation/user/current/advanced_usage/trigger_with_options.html

On Sun, Dec 13, 2015 at 9:04 PM, Pavel <notifications@github.com> wrote:

--

Ashwanth Kumar / ashwanthkumar.in

[2015-12-14 09:54] ashwanthkumar commented on #60
@PavelAgejkin I just saw the comment was edited. Do you mean the notification plugin integration? Simple answer - Yes. It runs for every instance of a pipeline / job. Specifically for Stash may be @srinivasupadhya can answer. I haven't used Stash, sorry.

[2016-01-07 15:32] ac-astuartkregor opened #61 "Feature: Enable GitHub credentials via plugin settings"
Hello,

Would it please be possible to configure the GitHub credentials via plugin settings as in the GitHub Status notifier?

Many thanks.

[2016-01-14 20:26] tanob opened #62 "Dependency com.thoughtworks.go:git-cmd not in Maven Central"
I'm trying to get this plugin building in my machine but looks like `git-cmd` is not in Maven Central.

Can you please put some building instructions in README or put the dependency in Maven?

[2016-01-14 20:30] tanob commented on #62
I had to manually do this to get the plugin building:

[code]

[2016-01-15 01:55] ashwanthkumar commented on #62
@tanob I'm sorry for the trouble. Yeah we don't have `git-cmd` published on Maven Central. Will get that done soon. Thanks.

[2016-01-26 17:43] ccampanale commented on #59
I'm having a similar issue here and I can answer the question you asked for my environment. No, the repo in our case does not have a master branch but another branch named `production` which is set to the default. Is there any way to specific the branch name you are monitoring or have the plugin get the default branch name and used that instead of master?

[2016-01-27 02:19] srinivasupadhya commented on #59
there is no way way to do that currently. @ashwanthkumar need to check if there is a way to checkout to default branch instead of we checking out "master"

[2016-01-27 20:26] ccampanale commented on #59
Just to follow-up here, the default branch idea is pretty much the safest bet here overall (at least to avoid these errors which in our case resulted in an inordinate about of flywheel directories being created which actually filled up the drive on our test GoCD server, lol). That being said, in my opinion, an option when configuring the github pipeline material to specify the branch to be monitor

[2016-01-28 21:24] virtuald opened #63 "Run multiple PRs in parallel"

[2016-01-28 21:25] virtuald opened #64 "Add optional comment to PR if build pass/fails"
The status API doesn't generate an email when it pass/fails. Posting a comment does, would be super simple.

Comment should be configurable.

[2016-01-28 21:28] virtuald commented on #60
The Jenkins plugin has an option to retrigger a build based on the contents of comments in the PR. It's a bit more intuitive then having to use GoCD's mechanism to do it -- and less steps.

"Computer, test this please"

[2016-01-29 02:12] ashwanthkumar commented on #64
I think you might want to create the issue on this repo (https://github.com/gocd-contrib/gocd-build-status-notifier). This plugin doesn't do any notifications by design.

[2016-01-29 02:13] #64 closed

[2016-01-29 02:16] ashwanthkumar commented on #63
This is currently not possible by GoCD's design unless your build pipeline has multiple stages.

[2016-02-06 12:23] lenucksi commented on #62
:+1:

[2016-02-09 09:28] #62 closed

[2016-03-02 16:34] kerrmarin commented on #48
Hi there @ashwanthkumar, thanks for replying to this. I don't think it's available, these are the variables that are available (from the Go console):

GO_SERVER_URL
GO_TRIGGER_USER' to value 'changes'
GO_PIPELINE_NAME' to value 'app-pr-test'
GO_PIPELINE_COUNTER' to value '1075'
GO_PIPELINE_LABEL' to value '1075'
GO_STAGE_NAME' to value 'Test'
GO_STAGE_COUNTER' to value '1'
GO_JOB_NAME' to value 'T

[2016-03-03 07:43] ashwanthkumar commented on #48
@kerrmarin Do you by chance have `go.plugin.github.pr.populate-details` properties set to "N"?

Ref - https://github.com/ashwanthkumar/gocd-build-github-pull-requests/blob/master/src/main/java/in/ashwanthkumar/gocd/github/provider/github/GitHubProvider.java#L77

[2016-03-03 10:09] kerrmarin commented on #48
Ah, apologies. My provider is actually Stash, not Github :). Do you know if this is available for Stash as well as Github?

[2016-03-03 10:52] ashwanthkumar commented on #48
Unfortunately we don't have that support for Stash. Would you be willing to submit a PR with that change? We would be glad to merge that in.

[2016-03-04 16:52] akurkin opened #65 "FeatureBranch - merge to master does not trigger pipeline execution"
hey guys,
in the following scenario:

1. cut new `feature/XXX` from `master`
2. push `feature/XXX` to remote
3. pipeline executed for `feature/XXX`
4. PR gets reviewed and somebody decides to merge it to master
5. `feature/XXX` gets merged into `master`
6. go.cd notices the changes, but *doesn't start the pipeline*

Is this expected? is there a way to resolve this?

Thanks,
Alex

[2016-03-04 18:22] ashwanthkumar commented on #65
Our usual approach is to use one for building master and one for all PRs. If you merged the changes to master, it would only trigger the master branch building pipeline and not the pipeline that's building the PR.

Are you seeing any issues in this behaviour?

[2016-03-04 18:37] akurkin commented on #65
Can you please clarify:
so for each application, you have 2 pipelines: one pipeline builds a pull request, the other pipeline builds master branch?

If so, how does the plugin know to skip master branch?

[2016-03-04 18:39] ashwanthkumar commented on #65
The plugin doesn't know :) The plugin is meant to be used only on the PR build pipeline. For the other, you should be using Git material directly.

[2016-03-04 18:43] akurkin commented on #65
ok, got it. thanks for clarification :+1: :bow:

[2016-03-04 18:43] #65 closed

[2016-03-04 18:47] ashwanthkumar commented on #65
@akurkin Let me know if the README instructions aren't clear. If you would like to change the documentation for the better, please send in a PR.

[2016-03-04 18:48] akurkin commented on #65
@ashwanthkumar sure, I will read it thoroughly again and see if there's a way to improve to clear out confusion for future users :)

[2016-03-04 18:50] ashwanthkumar commented on #65
:+1:

[2016-03-08 02:41] ashwanthkumar opened #66 "Add an option to specify default branch for the repo"
Not always the default branch in a git repository is `master`. There're instances where there's a new master in the making and we want to test the changes against that. Adding an option to provide a default branch in the configuration like the `Git` plugin would be really useful.

[2016-03-24 18:04] rizotas commented on #66
+1

[2016-03-31 13:50] kerrmarin commented on #57
Any idea if this is possible at all? It would be a great addition to this plugin.

[2016-04-01 12:10] kerrmarin commented on #27
Hi @srinivasupadhya, I think this issue can be closed. I haven't experienced this in quite a while. I think it was due to a very large repo. #57 would also help with this.

[2016-04-01 12:14] #27 closed

[2016-04-01 12:15] ashwanthkumar commented on #57
@kerrmarin It should be relatively easy to implement it. Would you be interested in sending a PR for this?

[2016-04-01 12:27] kerrmarin commented on #57
I'd love to, but my Java is very rusty. I'll have a look over the weekend and see if I can at least make a start on it.

[2016-04-06 16:03] hfortegcmlp commented on #66
+1

[2016-04-07 08:28] manifest commented on #66
+1

[2016-04-07 09:53] ashwanthkumar commented on #66
Someone wants to send a PR for this? I would be happy to review and merge it in.

[2016-04-19 16:18] insano10 opened #69 "pull request isn't merging with master"
When a PR triggers the pipeline it doesn't appear to be merging with master. In my repo the PR status says it has merge conflicts that need to be resolved. However the pipeline just builds successfully anyway because it doesn't attempt the merge.

Should it be merging before executing the pipeline?

[2016-04-22 13:28] #69 closed

[2016-04-22 13:42] ashwanthkumar commented on #69
@insano10 Sorry for getting back late. We don't test for merge at the moment. We only build the current tree.

[2016-04-23 18:23] insano10 opened #70 "Spurious error in the logs"
When starting up the go server a request is made to the plugin get configuration. This request type is not handled in GitHubPRBuildPlugin.handle so it returns a 404. The API docs say it should return 200 to indicate it has understood the request (even if it doesn't return anything in the body).

This causes the following error in go-server.log:

2016-04-23 19:17:55,560 ERROR [Thread-69] PluginSett

[2016-04-23 19:14] insano10 commented on #70
ok so the official solution (to throw a UnhandledRequestTypeException still results in a stacktrace in the go-server log. So there is no way to remove the error other than to implement the request, which is not appropriate in the case where you have no settings. Sigh.

[2016-04-23 19:14] #70 closed

[2016-05-12 14:25] gunnarx commented on #66
+1 :+1:

[2016-05-12 18:50] akurkin opened #71 "Plugin execution is not triggered on merge commits"
hello guys,
consider this situation:
- create **feature branch** from **master**
- make changes, commit and push -- pipeline will be executed automatically
- few PRs went into **master**
- merge **master** into **feature branch** -- this generates a merge commit
- push to remote repo -- it won't be picked up by gocd plugin

Is it known limitation? any way to work around it?

[2016-05-13 14:00] gunnarx commented on #71
I just had a PR not trigger the plugin this morning, not understanding why.  After starting the pipeline manually the build status was reported to the PR.

I am not sure if it followed the exact sequence you describe here since I was only playing around to try out the plugin, but I can confirm that the topmost commit in the PR was indeed a merge commit.

[2016-05-15 12:46] ashwanthkumar commented on #71
Does it pick up the latest changes when you trigger the pipeline manually?

[2016-05-15 15:05] akurkin commented on #71
@ashwanthkumar yes, and it also works if I trigger for specific revision (revision is properly shown) the problem is that it's not triggered automatically

[2016-05-15 15:24] ashwanthkumar commented on #71
@akurkin Can you share the plugin logs? If possible enable debug logging on the go server and if you can retry the above steps and share the logs, that would be even great.

[2016-05-16 17:27] mrmanc opened #72 "Notification from the notification API"
Hello

I was wondering whether this plugin hooks in to the Go Notification API (https://api.go.cd/current/#notify-git-materials) to accept published Git events? Or does it always have to poll the GitHub server to work out when a new commit / pull request has happened?

Thanks

[2016-05-16 21:42] arvindsv commented on #66
@ashwanthkumar: I am thinking about making this change. I haven't spent too much time on this codebase, though. From a quick glance, I found that it should be possible to get the branch from the user and pass it along to the git-cmd component. The git-cmd component [seems ready to](https://github.com/ashwanthkumar/git-cmd/blob/4e00e086e6a92ac4706470039ea93393beb26794/src/com/tw/go/plugin/model/Git

[2016-05-16 21:42] arvindsv commented on #59
I think this is related to #66.

[2016-05-17 02:21] ashwanthkumar commented on #66
@arvindsv Yes that's pretty much it.

[2016-05-17 03:47] ashwanthkumar commented on #72
@mrmanc AFAIK no. From the docs [here](https://developer.go.cd/current/writing_go_plugins/scm_material/json_message_based_scm_material_extension.html), I don't know how to hook into it as well.

cc: @arvindsv

[2016-05-17 17:39] arvindsv commented on #72
I took a quick look at the code, and it looks like any pluggable SCM material should be able to use the post commit hook (but in a specific way). The endpoint should be:

[code]

The param expected is `scm_name` and it is matched against the name of the material, in the SCM config. So, the curl is probably something like this (untested):

[code]

Can you see if that works?

I don't think that will

[2016-05-17 21:17] mrmanc commented on #72
Thanks @ashwanthkumar, @arvindsv. Cool, so I understand from that that if we find a way to transform GitHub webhooks into GoCD notifications, then we can use this plugin without generating any more polling activity. Awesome :) I think that wraps up this issue… further discussion can happen in https://github.com/gocd/gocd/issues/217#issuecomment-219497046.

[2016-05-21 11:35] whiskeysierra commented on #71
We're experiencing the exact same issue: Automatic triggering works, unless it's a merge commit. Unfortunately I don't have access to the log files.

[2016-05-24 15:20] AlexanderYastrebov commented on #71
Confirm, autobuild does not work after merge commit push

[2016-05-24 16:28] petersen-ar opened #73 "Building on any push to a branch?"
Is this plugin supposed to build on _any_ branch push? That is the behavior I am seeing. So far, there have not been any merge requests on my repo, so I would expect there to be no builds. But there have been 5, all corresponding to pushes made on feature branches. Also, I believe it was supposed to kick off a "baseline" run of the master branch, which it did not.

Maybe I have not configured corr

[2016-05-24 16:55] ashwanthkumar commented on #71
Thanks for the issue report. I'll have a look at it and keep you guys
posted.

On Tue, May 24, 2016 at 8:50 PM, Alexander Yastrebov <
notifications@github.com> wrote:

--

Ashwanth Kumar / ashwanthkumar.in

[2016-05-24 18:17] AlexanderYastrebov commented on #71
Hello. I have created pull request to fix it. Actual fix is just removing break in cycle.
#74

[2016-05-25 14:32] akurkin commented on #71
that's awesome. Looking forward to seeing this issue fixed!

[2016-05-25 15:35] ashwanthkumar commented on #71
@AlexanderYastrebov Thank you so much for getting this done. I'll verify and merge them.

Meanwhile @akurkin @whiskeysierra - can you guys also verify the changes from your side?

[2016-05-25 16:07] akurkin commented on #71
Sure, happy to do it. Is there a jar file available or some instructions on how to build it myself? (sorry, not well versed in java world)

[2016-05-25 16:49] ashwanthkumar commented on #71
@akurkin Please check out [github-pr-poller-1.2.4-merge-commit-fix.jar.zip](https://github.com/ashwanthkumar/gocd-build-github-pull-requests/files/282455/github-pr-poller-1.2.4-merge-commit-fix.jar.zip)

PS: Github doesn't support attaching JAR files on the issues. So had to compress into into a ZIP :(

[2016-05-25 16:52] ashwanthkumar commented on #71
Here's the Git Feature Branch plugin (with fixes from #74), if you're directly using it from Git repos without Github.

[git-fb-poller-1.2.4-merge-commit-fix.jar.zip](https://github.com/ashwanthkumar/gocd-build-github-pull-requests/files/282465/git-fb-poller-1.2.4-merge-commit-fix.jar.zip)

[2016-06-01 19:01] DrStrangepork commented on #56
@nperumal What was your "public port" issue? I am getting these same errors.

[2016-06-23 09:09] whiskeysierra commented on #71
I tried it, but a merge commit still doesn't trigger a build for my PR:

See my attached screenshots. Last build was an hour ago, but the last changes show my merge from 7 minutes ago.

![screenshot from 2016-06-23 11-07-33](https://cloud.githubusercontent.com/assets/429981/16297846/dcb37998-3932-11e6-9b30-a39b5bdb0a7f.png)
![screenshot from 2016-06-23 11-08-13](https://cloud.githubusercontent.com

[2016-07-03 21:04] darioblanco commented on #56
I am provisioning a gocd server into a CentOS 7 machine with vagrant and after some time I found these errors.
I have no explanation, I think it could be a network virtualization issue

[2016-07-03 22:52] ashwanthkumar commented on #56
@darioblanco As from the above conversation you can see that
[code]
this error can be safely ignored. If the issue is "Github" material missing, then you can see that only *after you create a pipeline* not while *creating the pipeline*.
Ref - https://github.com/ashwanthkumar/gocd-build-github-pull-requests/issues/56#issuecomment-154008089

[2016-07-15 08:54] tom--pollard commented on #66
I'd find it extremely useful if it were possible to test PR's that were on release branches, not just master of projects

[2016-07-21 20:25] linxcat commented on #54
I'm just going to leave a +1 here because this is a feature is extremely important for github enterprise environments especially, where tokens are a common way of authenticating through LDAP.

[2016-07-30 21:46] vladistan commented on #66
+1

[2016-09-08 09:01] decoomanj commented on #71
Same issue here, any news on this?

[2016-09-09 09:47] decoomanj commented on #71
It seems that when the modified-material list is empty, the pipeline is NOT triggered. This happens when e.g. GitHub does a merge (master into a branch, for example). The change is detected, but nothing happens because the modified-material-list is empty.

I have made a plain work-around by inserted a fake-change in the list to trigger the pipeline. This is probably not the way to go, but I didn't

[2016-09-22 14:16] wlsf82 commented on #60
Yeah, I really think GoCD could have something similar to this Jenkins plugin, then there is no need to access GoCD, you can trigger the pipeline again directly from Github.

[2016-09-23 05:51] ashwanthkumar commented on #60
It would be great if someone can send a PR for this feature, or if someone is interested in picking this up - I can help too.

[2016-10-03 18:39] mattalline-rackspace opened #75 "Question: On the `readme` where does "~/.github" indicate?"
On the [read me](https://github.com/ashwanthkumar/gocd-build-github-pull-requests) there is the below quote:

- You can create a file ~/.github with the following contents: (Note: ~/.github needs to be available on Go Server and on all Go Agent machines)

Where does `~` refer to in this case? Would that be the "go" users home directory (/var/go)? I ask because I am trying to get this plugin workin

[2016-10-03 18:43] ashwanthkumar commented on #75
Yes it refers to the home directory of the go user - which by default is `/var/go`.

Assuming you already have the file in there. Can you try these steps?
1. Restart your server once just to be sure the Github client is able to pick your properties.
2. Can you share the full plugin logs - it might have some stacktrace which might help us understand what is going wrong.

[2016-10-03 18:47] mattalline-rackspace commented on #75
@ashwanthkumar I did restart the `go-server` and `go-agent` before posting the question so I believe we're covered on item 1. For the giggles I ended up unpausing the new pipeline and it appears to have pulled from the enterprise URL so that's promising. I'm going to assume this might just be a bug in the "Check Connections" portion of the plugin, possibly not reading that `.github` file.

Please

[2016-10-03 18:50] ashwanthkumar commented on #75
The plugin logs are available in the same directory as the go server logs. In our setup they're available under `/var/log/go-server`. The file name would be `plugin-github.pr.log`.

[2016-10-03 18:59] mattalline-rackspace commented on #75
Sadly there's not much available in the logs...

From plugin-github.pr.log:
`go@ubuntu-gocd:/var/log/go-server$ cat plugin-github.pr.log
2016-10-03 13:02:38,902  INFO [92@MessageListener for MaterialUpdateListener] GitHubPRBuildPlugin:52 - Flyweight: /var/lib/go-server/pipelines/flyweight/c3c00f7f-8cd0-4652-ac3b-7472d64f63a5
2016-10-03 13:02:40,895  INFO [92@MessageListener for MaterialUpdateListe

[2016-10-03 19:03] ashwanthkumar commented on #75
I'm glad you got it working :) Sure - please do share the steps to re-produce the issue. I'll look into it as soon as I get a chance.

[2016-10-04 13:14] mattalline-rackspace commented on #75
Steps to Reproduce:

1.) Install Go CD Agent and Server on a single machine (for testing)
2.) Downloaded / Installed [github-pr-poller.jar](https://github.com/ashwanthkumar/gocd-build-github-pull-requests/releases/tag/v1.2.3) from release page
3.) Created /var/go/.github file with contents
  a.) endpoint=https://internalgithub.corporate.com  (NOTE: also tried with "/api/v3" appended to uri)
4.) Cr

[2016-10-12 20:45] jefftrimm opened #77 "Build devel branch instead of master for baseline for pull requests"
In gitflow, pull requests are to merge to devel branch instead of master branch.  In this case, we want the plugin to specify a branch other than master to use as a baseline initially build devel branch instead of master.

[2016-10-14 15:58] jefftrimm opened #78 "SERIOUS: pull request material URL is saved globally, overwriting per-pipeline Stash material URL's"
I'm using the Stash-specific pull-request plugin, but I suspect this affects all variants.

If I set up two different pipelines with a pull-request material, and then change the material URL on one of the pipelines, the material URL on other pipelines with a Stash material defined also changes to the same value.

I moved the pipelines into different pipeline groups, and I still see the same behavi

[2016-10-14 17:00] ashwanthkumar commented on #78
@jefftrimm Would you be able to share a screenshot of the page where you're editing the url? Even if its private via email it's fine.

[2016-10-14 17:02] ashwanthkumar commented on #77
Duplicate of #66. Closing this and tracking it as part of that.

[2016-10-14 17:02] #77 closed

[2016-10-14 17:49] jefftrimm commented on #78
Shot you a mail with screenshots.  Thanks!

[2016-10-16 17:55] boothead commented on #78
It seems that the git repo url is also unique?

I followed the instructions and cloned a pipeline and created a material for PRs against one of my git repos. Then I deleted that pipeline due to the upstream one changing. Now it seems I can't re-create the material pointing my repo, even if I change the name. I'm getting:

[code]

scintilla-PRs was the first name (in the deleted pipeline), scintill

[2016-10-17 03:35] ashwanthkumar commented on #78
@boothead Yes the repo name is also supposed to be unique. Logically they're a single SCM material unlike the default Git material which can be duplicated everywhere.

For your specific issue, you can re-use the same `scintilla-PRs` SCM for the new pipeline.

[2016-10-17 05:59] boothead commented on #78
That @ashwanthkumar. How can I re-use it though? It was in a deleted pipeline and I don't know how to refer to it now...

[2016-10-17 07:01] ashwanthkumar commented on #78
@boothead There's no UI to refer an existing SCM, but you can do it via config.xml AFAIK

In the config.xml look for something like
[code]

Take a note of the `id` attribute. In the respective pipeline use that to refer to that SCM. Check below as an example.

[code]

HTH.

[2016-10-17 11:13] boothead commented on #78
Thanks, that's very helpful! What's the filter/ignore node here for?

[2016-10-17 11:19] ashwanthkumar commented on #78
@boothead That's the Blacklist (or Whitelist) box you see in the SCM window below the connection settings.

[2016-10-17 11:21] boothead commented on #78
Great, thanks for the help :-)

[2016-10-17 11:35] boothead commented on #78
Sorry one more question: Do I have to do anything special to get the github PR updated with the status? I have two stages, with the testing of the binary build from the PR in the first being performed in the second stage.

[2016-10-17 12:40] ashwanthkumar commented on #78
@boothead Assuming you're following the instructions as laid out on the [build-status plugin](https://github.com/gocd-contrib/gocd-build-status-notifier#behavior) - you don't have to do anything.

Check out an example below of how it would look when you've multiple pipelines configured for the PR. Read it as `<pipeline name>/<stage name>` passed ( ✔️  ) or failed ( ✖️ ).

![screen shot 2016-10-17

[2016-10-17 13:20] boothead commented on #78
I didn't have the github stuff configured properly. Fixed now. Thanks again :-)

[2016-10-18 08:15] ketan opened #79 "Interest in moving to gradle?"
Hi,

Is there any interest in moving the build over to gradle? I've attempted [this here](https://github.com/gocd-contrib/gocd-oauth-login). This helped in a few ways —

* trim down the size of the plugin by not packaging deps needed by other plugins
* uses a cleaner project structure to extract out a "base" project, with dependent "projects" for each provider there is
* reduces duplication of com

[2016-10-19 17:25] ashwanthkumar commented on #79
@ketan 👍 I haven't personally used Gradle before, it would be great if you please send a PR for initial setup.

[2016-10-25 16:34] adamosloizou commented on #11
+1

Hello, what's the latest on this?
I would also be interested in the plugin allowing to build the merged result with the target branch (i.e. master).
That way it can provide feedback that the PR will work before tampering with the target branch.

Are there any plans for implementing it?
Thanks :)

[2016-10-29 06:45] ashwanthkumar commented on #78
@jefftrimm @boothead I'm closing this issue. Feel free to re-open in case of any other issues.

[2016-10-29 06:45] #78 closed

[2016-10-29 07:00] ashwanthkumar commented on #71
I just made a release with the changes on PR at ashwanthkumar/git-cmd#2

https://github.com/ashwanthkumar/gocd-build-github-pull-requests/releases/tag/v1.3.0-RC2

Please check and let me know if that fixes the problem.

cc: @juhasipo

[2016-10-31 12:22] gunnarx commented on #75
I was about to ask a separate question but since this is open and it seems near enough:

Why does the README require ~/.github to be on all *agents*?  I seem to have success with it being on the server only.  @ashwanthkumar, could you explain what it is used for on the agent side?   Thanks.

[2016-11-03 01:59] ashwanthkumar commented on #75
@gunnarx Sorry for the delay in getting back. Looks like README needs to be updated. IIRC, Earlier we used to query GithubAPI using the auth token for populating the PR fields which are injected as environment variables in the task. I guess we moved away from that model a long time ago, but didn't change the README to reflect it. Would you be kind enough to send a PR with the fixes?

[2016-11-09 12:54] whiskeysierra commented on #71
Not for us, no.

[2016-11-09 15:41] Josaphat commented on #71
I'm still seeing the issue as well.

[2016-11-10 20:51] whiskeysierra commented on #71
Actually I just realized that we're still using the old version of the plugin. I have to check again, next time a merge appears.

[2016-11-10 21:04] whiskeysierra commented on #71
Nope, doesn't work.

[2016-11-16 16:03] cw-deenbandhu commented on #11
+1

Any update on this ?
I am also struggling with the same issue

[2016-11-20 06:46] ketan commented on #79
I was looking at the code today, and was left wondering why 4 separate plugins? Could we not have a single plugin with an additional property `Type` or something similar to allow choosing a provider of your choice.

That way, you'd just have one dropdown in the SCM view that allows you to choose one of GitHub, Gerrit, Git Branch and Stash.

Would you be cool merging all the plugins into one plugin

[2016-11-21 06:20] ashwanthkumar commented on #79
I always felt having separate plugins was easy in terms of operations. But I do like your idea on merging all of them together and creating one unified "Pull Request" SCM material. May be we should run this change by the community? What are your thoughts?

[2016-11-21 07:00] ketan commented on #79
I spent some time thinking about it now that I've had enough coffee, it seems like an overkill. Each plugin needs a different set of properties to configure it, so I suppose having a separate plugin makes sense. GoCD does not really work well with allowing a plugin to have a different set of properties depending on a switch.

I'm working on the gradle thing, some tests are getting in the way, so I

[2016-11-21 07:29] ashwanthkumar commented on #79
Sounds good. Sure thing, let me know if I can help in anyway.

[2016-12-16 13:41] PavelA85 opened #80 "BitBucket support"
Any plan to support BitBucket Pull Requests?

[2016-12-16 14:08] PavelA85 commented on #80
https://github.com/ashwanthkumar/gocd-build-github-pull-requests/issues/46

[2016-12-16 14:08] #80 closed

[2016-12-27 22:51] agomezcafeto opened #81 "Trouble when the pipeline is triggered by changes"
We are getting an exception when a change is made in a private repository, this is the trace:

[code]

[2016-12-30 13:39] ashwanthkumar commented on #81
From the stack trace it looks like the command
[code]
failed with an exit code of 1.

Can you please try running the above command in the location (`/var/lib/go-server/pipelines/flyweight/c6678a30-645f-408e-8d76-e686437a21c3 `) as the `go` user and check if that's working fine?

Also is non-PR pipeline getting triggered and running fine for changes in this repo?

[2017-01-18 03:07] arenstar opened #83 "Plugin not working - no errors - how do i debug?"
im using Go Version: 16.12.0
and gocd-build-github-pull-requests version v1.3.0-RC2 ( stash-pr-poller-1.3.0-RC2.jar )

Plugin is available in go/admin/plugins -> ( Stash Pull Requests Builder 1.3.0-RC2 [stash.pr] )
I set up a new pipeline,  creating a material using the Stash plugin
it is a private registry - yet i have already setup a .netrc file
i save the pipeline..
It builds the first time

I

[2017-01-18 20:46] dlethin opened #84 "failure to clone repo -- need to somehow urlencode username"
I see the following error in the log file:

[code]

I get the same error message when I run that git clone command directly in a terminal.  However, if I urlencode my username, the commandline run works...  so I though I could then store my urlencoded username in the ~/.github file.  However, I am still getting the same error.

Is the information in ~/.github cached somewhere that I need to clear

[2017-01-19 02:52] ashwanthkumar commented on #84
@dlethin The information in `~/.github` is used only for making Github API requests not for cloning. Can you try changing the url in the Github Material of the pipeline to the encoded version and try?

[2017-01-19 04:45] dlethin commented on #84
Thanks, @ashwanthkumar.  That was the magic I was looking for.  I didn't even think of that.  I think what confused me was that after initially setting username/password in the github materials, I removed it, thinking it was duplicated from the information in ~/.github, and then even though I removed it (and restarted go-server), I was still seeing that error.  It seems perhaps go-server must be c

[2017-01-19 04:45] #84 closed

[2017-01-24 14:35] dlethin opened #85 "is there a way to trigger pipeline manually specifying branch to use with git-fb-poller plugin?"
We would like the ability to turn off polling and instead have users be able to manually trigger a pipeline with options and specify the branch they want to build (assuming the branch matches the white/blacklist configured in the materials plugin).

Is this possible today?  It doesn't seem possible with the regular git materials, so I was hoping it would work with this plugin.

Thanks.

[2017-01-24 14:41] dlethin opened #86 "Looking for a way to set white/black list of branch name for github-pr-poller plugin"
We got the github-pr-poller plugin working yesterday which is great, but ran into an issue where pipelines were getting triggered for pull-requests on branches we don't want to run builds on (yet).

Is there a way to limit which branches we want to poll on using some kind of white/blacklist?

Thanks.

[2017-01-25 14:51] fanicia opened #87 "any way to get the git-fp-poller to display what branch we're building?"
As of now the environmental variable is set to be the name of our feature branch.
GO_SCM__REPONAME_CURRENT_BRANCH

But we have to get into the console from the build to see what branch has been build.
Ideally, it would be nice to see it under the little "changes" tab in the home-window of Go instead of
us having to dig into the console. Is this possible at all? :)

[2017-01-25 15:06] ashwanthkumar commented on #87
AFAIK it's not possible since those are controlled by GoCD itself and not by the plugin.

One that we use internally is to use one of the notification plugins to ping us on slack / email on what's being built. To be honest, most of the times we see the status via Github and not generally via the pipeline :)

[2017-02-01 19:56] sgran opened #88 "Ugly stack trace in the logs at plugin load"
I see this:
[code]

It doesn't actually seem to do any harm, but it seems jarring.

Cheers,

[2017-02-06 20:08] mootpt opened #89 "Duplicate SCM issue"
Unable to use the same repo for multiple pipelines. Is this by design? I have 2 pipelines for Terraform that watch the same repo, just different directories. I am using blacklisting to tell one pipeline to ignore changes in a directory. Is there some sort of work around that will allow me to use the same source for both Pipelines?

[2017-02-07 02:07] ashwanthkumar commented on #89
That's by GoCD's design actually :(

Workaround would be to change the name of the repo. For example, if your material has the following url

`git@github.com:ashwanthkumar/gocd-build-github-pull-requests` -- you can create another material with `git@Github.com:ashwanthkumar/gocd-build-github-pull-requests`.

The workaround is based on a hack that GoCD's material is case-sensitive while the actual

[2017-02-10 10:09] insano10 opened #90 "Plugin doesn't work with yaml declared pipelines"
In GoCd 17.1:

When you declare a pipeline using the Github material in your repo using a yaml file, the poller doesn't trigger the pipeline. When you have the pipeline in the regular config.xml it works fine.

Could you hook into whatever mechanism the yaml plugin uses and trigger those pipelines too?

[2017-02-10 10:18] ashwanthkumar commented on #90
Actually this plugin is an SCM material, it doesn't differentiate between running it from config.xml or yaml based trigger. As a matter of fact, we don't even know how the plugin is invoked. It's taken care internally by GoCD.

Can you please share a sample yaml pipeline configuration that I can use for this purpose? I have never used YAML based configurations before.

[2017-02-10 10:30] insano10 commented on #90
Sure

[code]

Let me know if you need any more info.

[2017-02-10 23:57] mootpt commented on #89
Thanks for the response. Nervous about a work around with casing. :( :+1:  none the less

[2017-02-11 03:12] ashwanthkumar commented on #89
i'm closing this issue @mootpt. Feel free to re-open if you've any more questions related to this.

[2017-02-11 03:12] #89 closed

[2017-02-18 06:03] mvolhontseff opened #91 "plugin disregards .gitignore"
Directories added to .gitignore (e.g., TestResults) aren't ignored.  Cleanup wipes the build root directory clean, which destroys any test results saved within those directories during task execution.

[2017-02-18 06:05] ashwanthkumar commented on #91
@mvolhontseff Can you please help me understand which Cleanup are you referring to?

[2017-02-18 06:11] mvolhontseff commented on #91
During task execution, if you create a directory "foo" within the working directory, and add that directory to .gitignore, it won't be ignored.  It is deleted.

I would expect this type of behavior when "Clean Working Directory" in the Pipeline's Stage settings is checked.  However, it is not.

[2017-02-18 06:16] ashwanthkumar commented on #91
@mvolhontseff Thanks, that helps a bit. Let me explain
- "Clean Working Directory" is a feature of GoCD and not that of the plugin.
- "Clean Working Directory" AFAIK does something similar to `rm -rf` of the build directory before the SCM plugin (or implementations) are invoked for checking out the materials.

That's been the functionality of the system so far, and I'm not aware of any workarounds

[2017-02-18 06:36] mvolhontseff commented on #91
I am not using a build system; I'm using the stash pull request plugin to create material, and using python to run tests against the material.

If I use git as material instead (tracking a specific branch), .gitignore works as expected.

Thanks for your feedback on the matter.

[2017-02-18 06:49] #91 closed

[2017-02-20 11:35] gunnarx commented on #66
What's the status of this @ashwanthkumar ?
Just now it seemed our GoCD setup actually built a PR for another branch than master(?) so was something fixed?  Did you do something?  (Server is version 17.1.0, and I reinstalled the plugin maybe 2 weeks ago or so)

[2017-02-22 04:30] ashwanthkumar commented on #66
@gunnarx PRs will be built from any branch, it would just not test it against any other branch. I haven't made any changes for this yet.

[2017-02-22 08:44] ashwanthkumar commented on #66
I took some time and got this implemented as part of https://github.com/ashwanthkumar/gocd-build-github-pull-requests/pull/92.

@gunnarx and others would you like to give it a spin and let me know your thoughts? I'm attaching a manual build of the github PR poller for quickly testing it.

[github-pr-poller.jar.tar.gz](https://github.com/ashwanthkumar/gocd-build-github-pull-requests/files/792688/gi

[2017-02-22 14:09] danielterabyte opened #93 "Check connection failing with time out message"
Hi, I am trying to setup this plugin to start pipelines from pull requests but with no success.

Here we run behind a proxy and we created a git material that is working on check connection, polling changes in the branch configured and starting our pipeline without any problem.

But when I try to make a github material like README tutorial then the check connection fails with the message:

[2017-02-24 12:06] danielterabyte commented on #93
Oh, I forgot of tell my specs:

Windows 10
Go 17.2 (in 17.1 happened too)
Agent and Server in same machine
Java 1.8.0_121
Working on a .NET system.

I don't know what is wrong. I just follow every step of the install guide and things goes wrong.
I am evaluating the use of GoCD over Jenkins for our CD proccess and I really prefer GoCD UI and abstractions but is getting hard to defend with those mis

[2017-02-24 12:25] ashwanthkumar commented on #71
Okay, I finally got some time to look into this issue and it seems that for merge commits the modifiedFiles list seems to be empty, even after the changes from https://github.com/ashwanthkumar/git-cmd/pull/2/ that doesn't seem to help for cases wherein there're only new files added via merge commits. Added an ugly patch to force trigger the commits and it seems to be working. The fix is part of ht

[2017-02-24 12:46] ashwanthkumar commented on #93
@danielterabyte I can't say I've tried it personally but the Github API library we use seem to honor the default java properties for HTTP proxies. Reference [here](https://docs.oracle.com/javase/8/docs/technotes/guides/net/proxies.html). Since the "Check Connection" runs on the server, you might need to pass these settings to GoCD server via it's `wrapper-properties.conf` file.

Having said, you c

[2017-02-24 16:54] danielterabyte commented on #93
@ashwanthkumar, thanks for reply.

I do not found the `wrapper-properties.conf` file. The one that I found was wrapper-server.conf in GoCD Server.
So, I don't know if this is the right file and I don't know how to set HTTP proxies config using this file. As I said before, the pipeline using a git material is working flawless. But the github material is not.
Is the plugin doing something different

[2017-02-24 22:29] ashwanthkumar commented on #93
If the "Check Connection" do not report success it means that GoCD is not able to connect to github and therefore will not identify any changes in repo. Right?

Git material uses `git` client to verify the check connection while `Github` material pools the Github API and it doesn't use `git` client but a Java based Github API library that's part of the plugin. Like any JVM based process it takes H

[2017-02-24 22:31] ashwanthkumar commented on #93
I almost forgot -- If you're using Github PR material, you need to do the above steps for all Agents as well, as described [here](https://docs.gocd.io/current/installation/install/agent/windows.html#overriding-default-startup-arguments-and-environment).

[2017-02-25 08:53] #59 closed

[2017-02-25 09:00] ashwanthkumar commented on #66
Fixed via #92

Updated version is available via https://github.com/ashwanthkumar/gocd-build-github-pull-requests/releases/tag/v1.3.0

[2017-02-25 09:00] #66 closed

[2017-02-27 08:08] ashwanthkumar commented on #85
@dlethin Sorry for being in stoneage for such a long time. I totally missed these notifications :disappointed:

Unfortunately today it's not possible.

[2017-02-27 08:09] ashwanthkumar commented on #86
Today the Whitelist / blacklist is available only for Git feature branches and not for Github material.

[2017-02-27 08:10] ashwanthkumar commented on #83
@arenstar Sorry for responding late. Are you still facing this issue? Is there a way you can check the gocd-server.log, during the same time and share any relevant stack traces or errors?

[2017-02-27 08:12] ashwanthkumar commented on #81
@agomezcafeto Another reason for the failure would be if you don't have any `master` branch in your repo. Recently (as of [v1.3.0](https://github.com/ashwanthkumar/gocd-build-github-pull-requests/releases/tag/v1.3.0)) we've added support for specifying default branches for the SCM material instead of defaulting to master always. Please check if that helps too.

I'm closing this issue for now, plea

[2017-02-27 08:12] #81 closed

[2017-02-27 08:58] ashwanthkumar commented on #54
I'm marking this as closed since we've moved to use only `git` command line client (unlike jGit as default in older releases) and these work out of the box for them.

@linxcat Let me know if that's not the case.

[2017-02-27 08:58] #54 closed

[2017-02-28 09:29] marandalucas commented on #90
**Hi, I have the same problem. Plugin:**
https://github.com/tomzo/gocd-yaml-config-plugin

**You need configure your Config XML:**
  <config-repos>
    <config-repo plugin="yaml.config.plugin">
      <git url="git@github.com:DD/ci-gocd.git" />
    </config-repo>
  </config-repos>

If you set the yaml of insane, you will see the next error "invalid or unknown materials "github""

[2017-03-01 17:55] danielterabyte commented on #93
@ashwanthkumar thank you very much. With the last two responses I hack around and now I'm able to connect a github material succesfully.

If somebody face the same problem, the way I solved was, following the @ashwanthkumar tips:

1- Create a config/wrapper-properties.conf inside GoSever instalation folder;
2- Create a config/wrapper-properties.conf inside GoAgent instalation folder;
3- Put inside

[2017-03-01 17:56] #93 closed

[2017-03-02 20:11] danielterabyte commented on #11
@ashwanthkumar @srinivasupadhya is there an update on this? I am facing almost same issue. I look around and saw that this is a old problem. This issue is not the only one exposing this problem.

In my case, I see the same error dialog of @yqian1991, but with "Reason" a little bit different.

The displayed message for me is:

How can we go around this? With this, even with the check connection rep

[2017-03-08 05:49] ericmm opened #95 "Lists only the top commit instead of listing all the commits since last build"
List of changes shows only the top commit instead of showing all the commits since last build. This isn't a true reflection of what the build is running with.

Go version: 15.2.0(2248-c1f90a6aa3192a)
OS: macOS Sierra 10.12.3
plugin version: 1.3.1

Reproduce step:
 - commit one change to one branch locally
 - commit another change to the same branch locally
 - push these two changes to remote
The p

[2017-03-08 14:38] ashwanthkumar commented on #11
@danielterabyte The error is not exactly related to this issue. Can you please create a new issue and we can continue the conversation there? Also specifying the plugin version and the GoCD version you're using would also help.

[2017-03-09 14:06] ashwanthkumar commented on #95
@ericmm Would you be please kind enough to test the changes as part of https://github.com/ashwanthkumar/gocd-build-github-pull-requests/pull/96 for this issue?

[2017-03-10 08:16] ericmm commented on #95
thanks @ashwanthkumar, will test it out on Monday, have a nice weekend.

[2017-03-13 00:08] ericmm commented on #95
@ashwanthkumar, it does not work as expected.
I cloned the source and built a new 'git-fb-poller-1.3.1.jar' file from the master, then I removed the old jar and used the new one and restarted the Go Server. It still listed only one change in the drop down.

[2017-03-13 06:40] ashwanthkumar commented on #95
@ericmm Did you build it out of master branch? If so, please checkout the `fix-95` branch and build a JAR out of that. The PR hasn't been merged yet.

### How does it work?
When we send a PR (a new PR being opened on a repo), it would only show the latest commit (since we wouldn't know what was the last built commit hash). Any consecutive pushes to the same PR with multiple commits will show up se

[2017-03-13 22:23] ericmm commented on #95
Thanks @ashwanthkumar, I thought it was merged to master branch, re-tested using fix-95 branch, it works and I can see multiple commits in the 'Changes' drop down now.

BTW, when can we have an official release?  :)

[2017-03-14 01:34] ashwanthkumar commented on #95
Super 👍

Thanks @ericmm. I'm going to cut out a release with those changes in a few minutes.

[2017-03-14 01:35] #95 closed

[2017-03-14 02:03] ashwanthkumar commented on #95
@ericmm The release [v1.3.2](https://github.com/ashwanthkumar/gocd-build-github-pull-requests/releases/tag/v1.3.2) contains this fix.

[2017-03-15 15:12] kitforbes opened #97 "Configurable default branch"
In the Readme, under [Behaviour](https://github.com/ashwanthkumar/gocd-build-github-pull-requests#behavior), you mention that `master` is required

It would be handy if the default branch was configurable for repositories that do not use a `master` branch.

[2017-03-16 03:50] ericmm commented on #95
Great, thanks!

[2017-03-16 04:26] ashwanthkumar commented on #97
@kitforbes Thanks for bringing this up. I recently added support for default branch as part of #92 but looks like I missed the part for the first build. The changes as part of #98 addresses that. Would you be please kind enough to test the changes and let me know if that works as expected? Once you verify I can cut out a release with that change.

[2017-03-16 04:41] ashwanthkumar commented on #88
This error happens because the plugin doesn't have any plugin level settings to get from GoCD so from some version on 16.x they started throwing errors like this.

[2017-03-17 11:01] #97 closed

[2017-03-17 11:06] ashwanthkumar commented on #97
@kitforbes I verified it from my side and it seems to work as expected. The latest release [v1.3.3](https://github.com/ashwanthkumar/gocd-build-github-pull-requests/releases/tag/v1.3.3) has that fix. Please give it a spin. If you've any other questions, please feel free to re-open the issue or create a new one.

[2017-03-17 13:40] kitforbes commented on #97
Thank you @ashwanthkumar. I'll update to the new version.

[2017-03-22 14:56] kenluberts opened #99 "Pull Request Plugin Keeps Failing With Exit Error 128"
We keep seeing the same issue with the plugin to kick off builds with PR's.  We have this occurring with multiple pipelines.  Any help would be appreciated.  This happens whether we use the https URL or the git ssh url for the same repo.  Just a note: I have redacted our git repo info here.

2017-03-22 10:47:10,490  WARN [94@MessageListener for MaterialUpdateListener] GitHubPRBuildPlugin:67 - get

[2017-03-23 00:16] ericmm opened #100 "Feature Request: Custom the build label"
Hi,

Is it possible to custom the build labels triggered by different branches?
e.g. if the build '1.11' is from 'master', then custom the build label to '1.11-master',
if the build '1.12' is from 'branch1', then custom the build label to '1.12-branch1'

Thanks.

[2017-03-23 03:23] ashwanthkumar commented on #99
It looks like the `git clone` command is failing.  Can you please help run this command manually on the server and share the output?

[code]

[2017-03-23 17:38] kenluberts commented on #99
I have changed this to use the ssh url...  The git clone does work properly with that URL from the command line on the server.

Cloning into '/home/go-server/pipelines/flyweight/96ff1f4b-3f21-4bf2-9e41-1bf9decabf4a'...
remote: Counting objects: 76558, done.
remote: Compressing objects: 100% (134/134), done.
remote: Total 76558 (delta 130), reused 65 (delta 65), pack-reused 76358
Receiving objects:

[2017-04-04 02:45] ashwanthkumar commented on #99
The `git` command is failing with exit code of 128 when launched via the plugin. Not exactly sure why. Somethings I can think of could be
1. Does `/home/go-server/pipelines/flyweight/96ff1f4b-3f21-4bf2-9e41-1bf9decabf4a` belong to `go` user? If you've manipulated some files inside it manually, `git` when launched by `go` user might not be able to remove / overwrite it.
2. `git` command in `PATH` f

[2017-04-04 02:51] ashwanthkumar commented on #100
Probable duplicate of #87

While this feature is not easy to implement because GoCD doesn't have support for it, I would really like to understand what's the use-case for this feature? When looking at the Pipeline history page it wouldn't serve much information because each build can be for a different branch (and sometimes they would be stripped because branch names are too long). Instead we emit

[2017-04-04 03:56] ericmm commented on #100
Thanks for the reply, the use-case for this feature is we can easily identify from the build label if it's a candidate release build or not. In go configuration, it supports something like '<pipeline name="main" labeltemplate="15.1.${COUNT}-${git[:7]}">', which appends first 7 git hashcode to a build label, but this is what I am looking for.

Let's say we have two branches, one called 'production'

[2017-04-06 03:24] ashwanthkumar commented on #100
@ericmm The original intended purpose of these plugins is to build feature branches or pull requests, both of which are short-lived. These plugins should not be used to build multiple long live branches.

Going by your example, you might want to take `master` branch artifacts through a series of pipelines and `production` branch artifacts differently. By having a single pipeline to build both, you

[2017-04-11 18:00] kenluberts commented on #99
Hi - Sorry for the long delay in writing back...

Yes i ran everything as the go user to ensure that git does work from the box itself (and it does).  Nothing in that flyweight directory should have been manipulated.  Also, this issue affects one or two other pipelines that we have too...so it wouldn't be just this one flyweight directory.

Access to the go servers is kept to a minimum to prevent

[2017-04-20 05:42] mcico commented on #99
We face most probably the same issue. It used to work properly, but the suddenly stopped working.
I deleted the offending clone directory and then it worked again for a few commits and stopped again with the same error.

We use gocd in version 17.3, the git in version 2.8.0 and the Git Feature Branch plugin in version 1.3.3, the problem already occurred with the plugin version 1.3.1.

[2017-04-25 12:50] qlibin commented on #71
@ashwanthkumar It seems like the issue is back again in v1.3.3

I tried to deploy gocd server `v17.2.0.2` with `github-pr-poller-1.3.3.jar` - the issue's back.

Then I deployed gocd server `v17.2.0.2` with `github-pr-poller-1.3.1.jar` - the issue's gone.

[2017-04-25 13:14] ashwanthkumar commented on #71
@qlibin Oops looks like a regression, most likely as part of [this](https://github.com/ashwanthkumar/gocd-build-github-pull-requests/commit/b7a631acf291cd81108dee230bd76fa9606818ca). Will fix it but this time with tests around that part. Thanks for reporting.

[2017-04-27 06:33] GordonGuenther commented on #71
This issue also seems to applies to the stash-pr-poller. Would you be so kind to fix it there as well?

[2017-05-15 11:44] uprial opened #101 "Feature request: status badge in a Bitbucket (stash) pull request"
Hi,

In BitBucket there is a possibility to add a build result to a commit
https://developer.atlassian.com/bitbucket/server/docs/latest/how-tos/updating-build-status-for-commits.html#Updating_build_results

Could you please add such integration to your plugin?

[2017-05-15 11:48] ashwanthkumar commented on #101
@uprial We don't know the status of a particular commit in this plugin. You might want to raise this request against the build-notifier plugin (https://github.com/gocd-contrib/gocd-build-status-notifier).

[2017-05-15 11:48] #101 closed

[2017-05-15 14:47] grug opened #102 "Which environment variables are available?"
In the readme, the following is stated:

Which details are available and what are their respective environment variable names?

Thanks,
Dave

[2017-05-15 15:38] #102 closed

[2017-05-15 15:40] ashwanthkumar commented on #102
@grug I've updated the [README](https://github.com/ashwanthkumar/gocd-build-github-pull-requests/blob/master/README.md#github) with the list of environment variables available when using Github PR plugin.

I'm also attaching that table here for your reference.

 | Environment Variable | Description |
 | --- | --- |
 | PR_BRANCH | Pull Request was submitted **from** this branch. Eg. `feature-1` |

[2017-05-15 15:40] grug commented on #102
Thank you very much!

[2017-05-18 16:43] volodymyr-mykhailyk commented on #90
We solved this problem in following way. We define custom scm in cruise-config.xml:
[code]
After this we can use scm material in YAML configuration:
[code]

[2017-05-19 03:44] ashwanthkumar commented on #90
Thanks @volodymyr-mykhailyk for sharing. I guess that solves this issue. I'm closing this issue, please feel free to re-open the issue.

[2017-05-19 03:44] #90 closed

[2017-05-23 14:07] HBSISProcurement opened #103 "Error GoCD with BitBucket"
Modification check failed for material: [url=https://project:pass@bitbucket.org/my-project.git] [May-23 14:02:50]
Interaction with plugin with id 'git.fb' implementing 'scm' extension failed while requesting for 'latest-revision'. Reason: [The plugin sent a response that could not be understood by Go. Plugin returned with code '500' and the following response: '"Exception Occurred: [git, clone, --

[2017-05-25 12:22] ashwanthkumar commented on #103
@HBSISProcurement Looks like `git` command has failed. Can you please run the command manually on the terminal and share the output?

Also can you also attach the Go version and the plugin version?

[2017-06-05 19:36] mynkow opened #104 "Execution dir is different than branch dir"
We have a github repository. To version our software we use gitversion => https://github.com/GitTools/GitVersion

So when you invoke gitversion.exe within the repository directory you receive a version relevant to the current branch.

When we use FB plugin the gitversion.exe output is always from a different branch which is strange. It seems like the execution directory is different than the direc

[2017-06-06 01:41] ashwanthkumar commented on #104
The first time a repository is configured with this plugin, it builds the master branch. Any consecutive pushes to different branches would build that particular commit. May be that's the behaviour you're seeing?

[2017-06-06 06:37] mynkow commented on #104
Yeah, I noticed this. However what I described happens all the time. The only way to fix this is to set the default branch to the branch which I expect the execution to happen and then everything works but this makes the plugin `non sense`

[2017-06-26 14:44] volodymyr-mykhailyk opened #105 "PR environment variables not available during build process"
Hello,

maybe it is a configuration issue, but I don't see any environment variables mentioned in description during build process.

The only item I can see is special is that:
- we using YAML configuration plugin
- we using custom named scm materials

Here is piece of yaml configuration:
[code]

Here is list of environment variables set by GOCD during build process:
[code]

Any hints why we don't

[2017-06-26 19:38] Hyjaz commented on #105
Hi I have the same problem. I get exactly the same output as @volodymyr-mykhailyk.

[2017-06-27 08:05] ashwanthkumar commented on #105
Do you all see any information on the plugin logs? My best guess is that `~/.github` is not present or configured wrong. I might well be missing something obvious too.

Apart from the logs, please also share the GoCD version and the plugin version you're using.

[2017-06-27 13:52] Hyjaz commented on #105
Where should I put the ~/.github?? @ashwanthkumar

[2017-06-27 17:04] ashwanthkumar commented on #105
@Hyjaz `~/.github` goes in `~/` <-- that's the linux shell notation for home folder of the user. So the `.github` file should inside the home folder of the user that's running the Go process.

[2017-06-27 17:26] Hyjaz commented on #105
It's working for me, it was because I had added username and password on the material on gocd as well.

[2017-06-30 19:28] StephenMP opened #106 "Support Same Material URL Using Different Base Branch"
# Scenario
I have a git repository with a **master** branch and a **hotfix** branch. I want to have a PR Builder Pipeline for both branches. I want a pull request for the **master** branch to trigger a PR Builder Pipeline for pull requests into **master** branch and the **hotfix** branch to trigger a PR Builder Pipeline for pull requests into **hotfix**.

# Issue
I have successfully created a PR B

[2017-07-03 17:59] mynkow commented on #104
Anyway, I am moving to other CI. This has really bad support.

[2017-07-03 17:59] #104 closed

[2017-07-03 23:27] ashwanthkumar commented on #106
@StephenMP This is a limitation in GoCD's SCM design not to support multiple SCMs with the same name. Having said that the plugin also doesn't have support for building the pipeline for a specific target branch.

What I mean by that is we use the default branch only to build the first time and a branch we know we can always checkout to during cleanup process. PR plugin always checks out the partic

[2017-08-11 07:21] jinayvora1990 commented on #71
This issue also exists on git-fb-poller-1.3.4.jar. Will this be fixed too ?

[2017-08-15 09:17] mikeycmccarthy opened #108 "Blacklist priority not working as expected for feature branches"
Hi, I think that either the blacklist/whitelist has a bug, or the documentation is incorrect/misleading.

The documentation states _'The blacklist takes precedence over whitelist. I.e. a branch will not be built if the blacklist pattern matches to the branch name'_.

On our setup we have 'master' as the blacklist pattern, and * as the whitelist pattern, which I assume to mean build any branches EX

[2017-08-15 15:27] ashwanthkumar commented on #108
@mikeycmccarthy Can you please help me understand if the logs you saw were from the first time build or master is getting built on every push ?

[2017-08-17 13:59] mikeycmccarthy commented on #108
Let me check and confirm, thanks

[2017-08-25 12:30] wlsf82 opened #109 "Specific pipeline using github.pr plugin fails requesting for 'checkout'"
At appear.in we use GoCD with the github.pr plugin for almost a year, and in one of our projects we started to face the following issue when trying to run its pipeline:

`Interaction with plugin with id 'github.pr' implementing 'scm' extension failed while requesting for 'checkout'. Reason: [The plugin sent a response that could not be understood by Go. Plugin returned with code '500' and the foll

[2017-08-25 14:14] ashwanthkumar commented on #109
@wlsf82 Thank you so much for using this plugin for so long 😄

For the issue, can you please check and let me know if the `go` user has the permissions to delete that directory? I have seen that happen when the permissions of some files in the working directory gets changed. That explains the fact why it started working once you clean the directory manually. Having said that `cleanup_workspace: tr

[2017-08-25 14:18] wlsf82 commented on #109
@ashwanthkumar, this has been displayed, yes:

[code]

[2017-08-25 14:19] wlsf82 commented on #109
I'm not sure if it could be a permission issue since the `go` user can run all the other pipelines.

[2017-08-25 14:21] ashwanthkumar commented on #109
The error seems to be a little different this time. First time it was failing on `git clean` now it's failing on `git submodule update`. If it's not too much trouble, can you please try running those command manually as `go` user on the same folder? The output from the `git` command would help me understand what's the error that's happening.

[2017-08-25 14:27] wlsf82 commented on #109
I may need to add some AWS policy on the agents to be able to fetch the submodule, right?

[2017-08-25 14:27] ashwanthkumar commented on #109
Ah! Yes, can you please check if you've configured the username / password for the material or if it's possible please consider moving to git's SSH URL.

[2017-08-25 14:28] wlsf82 commented on #109
Yeah, we use SSH URLs. I'll check that and will keep you posted.

[2017-08-28 12:52] wlsf82 commented on #109
The issue was that we were using the https URL for the submodule instead of the git@github.com:...

[2017-08-28 12:52] #109 closed

[2017-10-06 13:24] rkrisztian commented on #103
I once experienced the same problem shortly after activating the build configuration in GoCD, but it went away in subsequent builds, and never seen it anymore. Probably caused by a race condition.

[2017-10-10 14:54] digitalcherry commented on #108
I can confirm that I am also having the same issue, I have a blacklist of "master,develop" and a whitelist of * but the build keeps pulling master.

[2017-10-17 11:38] mukeshmurali commented on #105
I am facing the same issue. Any help is really appreciated:

Following are the details:

[code]

Available variables:

[code]

There are no errors in the plugin logs.

The only error in the server logs is the below that is safe to be ignored as per the below post
https://github.com/ashwanthkumar/gocd-slack-build-notifier/issues/43

The gocd server has .github file present in the home folder of the

[2017-10-17 21:01] williamsbdev opened #110 "Unable to add "Github" type material via Go API"
We tried to create a new pipeline with the "Github" type material via the Go API. We were unable to do so. We would love to use this plugin but we cannot manage all the PR pipelines manually. Is there a known way to handle these new PR pipelines programmatically?

[2017-10-18 00:05] ashwanthkumar commented on #110
I have personally not used custom SCMs with API on GoCD. But I guess it should be something like

1. Create a global SCM Material using [SCMs#CreateSCMObject](https://api.gocd.org/current/#create-a-scm-object)
2. [Create a new pipeline](https://api.gocd.org/current/#create-a-pipeline) with the above custom SCM as one of the materials

[2017-10-19 01:54] williamsbdev commented on #110
@ashwanthkumar - Thank you! I'll have to check out the plugin SCM type.

[2017-10-21 18:40] williamsbdev commented on #110
@ashwanthkumar -

[2017-10-21 18:40] #110 closed

[2017-10-23 07:56] dokaspar commented on #108
Same issue here. I simply added "master" into the blacklist and my pipeline never triggers anymore, no matter on which branch commits are pushed.

[2017-10-23 11:36] dokaspar opened #111 "Defaultbranch property Git Feature Branch (git.fb) plugin"
Hi,

What's the exactly purpose of the "Defaultbranch" property in the git.fb plugin?
Are the properties of the git.fb plugin documented anywhere?

When I specify a value like "master" for the default branch, then pushed commits to any other branch will still trigger a build, but always the default branch is cloned. I would expect the default branch to be taken for manually triggered build, but wh

[2017-10-23 18:20] savage7 opened #112 "git.fb - submodules problem"
I have strange problem concerning submodules. It seams that the they are not cloned correclty.
We use git.fb to build our feature, master and develop branches for git-flow.

My Repo looks like this:
Main Repo: branch/release/release_1.0 (revision abc)
-- Submodule A: Points the certain commit as head on the master

The strange thing is that the repo is cloned differently when i change the setting

[2017-10-23 19:56] savage7 commented on #112
For testing purpose I added a extra task which resets all submodules accordingly:
git submodule foreach --recursive git reset --hard
git submodule update --recursive --init

This solves the issue, can you add this?

[2017-11-17 12:59] rkrisztian opened #113 "Option to skip building if there were no source code changes"
My project wishes a **"linear history"** in Git for the reason described in [this article](https://fangpenlin.com/posts/2013/09/30/keep-a-readable-git-history/). Therefore, they have set BitBucket to allows only the **Fast-forward only** merge strategy, which rejects a Pull Request if the source branch is out of date with the target branch. To fix the out-of-date problem you would have to rebase i

[2017-11-18 06:16] santanp opened #114 "PR does not trigger pipeline to start"
I have configured 2 pipelines in same group against two different github repos.
pipeline 1 -> gets trigged on new PR and update commit on PR. Works perfect.
pipeline 2 -> Similarly configured againt another repo but this does not trigger pipeline 2 to start. I don't even get any errors.

Can someone please help me understand what might be the issue.

[2017-11-21 13:24] abhijaju commented on #60
Any update on this ?

[2017-11-22 06:54] ashwanthkumar commented on #60
I'm sorry, I don't have an update on this :disappointed: It would be great if someone can send a PR which I would be glad to review and merge it in.

[2017-11-22 07:06] ashwanthkumar commented on #113
@rkrisztian Would you be interested in sending a PR for this change? You might want to add a configuration in the plugin and check for it in [this](https://github.com/ashwanthkumar/gocd-build-github-pull-requests/blob/master/src/main/java/in/ashwanthkumar/gocd/github/GitHubPRBuildPlugin.java#L340) method. This was the default behavior of the plugin, but the community wanted to merge commits with n

[2017-11-22 12:09] wlsf82 commented on #60
I'm already used to not having this.

[2017-12-04 17:24] ashwanthkumar commented on #114
@santanp Can we close this issue?

[2017-12-05 15:32] santanp commented on #114
@ashwanthkumar : Ya, Deleting the flyweight folder associated with the material solved of the issues for me. Thanks

[2017-12-06 04:19] #114 closed

[2017-12-14 00:50] nserebry opened #115 "hide print out of the github password in the error log"
Hi,
Setup GitHub.pr plugin on the go server, with Go Version: 17.10.0
create a pipeline with Github material
make the material update fail,
When the material update check fails below log message shown in go-server
`Interaction with plugin with id 'github.pr' implementing 'scm' extension failed while requesting for 'checkout'. Reason: [The plugin sent a response that could not be understood by Go.

[2017-12-14 02:26] ashwanthkumar commented on #115
This was supposed to be fixed as part of https://github.com/ashwanthkumar/gocd-build-github-pull-requests/pull/107. Can you please upgrade the plugin version you're using and try again?

[2017-12-14 23:50] nserebry commented on #115
@ashwanthkumar we are using Github Pull Requests Builder 1.3.4 [github.pr], so it looks to me that fix should be in it ?

[2017-12-15 04:35] ashwanthkumar commented on #115
Yes it should be as part of that release. Oh wait, can you please let me know what's the Github url you're using while configuring the Material?

[2017-12-15 18:53] nserebry commented on #115
this is a private repo:   [url=https://github.com/ORG/project_name]
<img width="854" alt="edit_pipeline_-_go" src="https://user-images.githubusercontent.com/5048814/34055966-3a5a7234-e186-11e7-90ef-84ef95b7e20b.png">

[2017-12-19 10:30] schnoddelbotz commented on #99
I'm facing the same issue as @mcico -- the clone wasn't the issue for me, but the `git log rev..` fails for me, as the named commit vanished due to a rebase. I think that situation should be handled, maybe by discarding information about last built PR/rev?

Anyhow, just removing the corresponding flyweight directory does not fix it at all -- a new clone will happen and then it tries to `git log` t

[2017-12-20 05:16] ashwanthkumar commented on #99
@schnoddelbotz We need the latest commit information to find if there are any new changes since the last time we checked the repository. Having said that, the GoCD's native Git material handles missing commits gracefully (in the recent versions) while this plugin doesn't. That's on my list for a while now. I just don't have enough time to work on it, if you would like to take a stab I would be hap

[2017-12-20 08:38] ashwanthkumar commented on #105
@mukeshmurali Just saw this message, on the `~/.github` file, I'm hoping you've updated your `login` and `oauth` values to actual values and not the dummy ones you've posted right?

[2018-01-03 21:04] nserebry commented on #115
Hi @ashwanthkumar  just following up

[2018-01-24 11:14] thomaslloyd opened #116 "Shallow Clone Branch"
Is it possible to set this plugin to shallow clone the pull request branch? We are noticing large durations for fetching materials, and this is because we have a big repo with a long history. It would really help if we only shallow cloned the branch.

[2018-01-26 10:49] mfornasa opened #117 "YAML pipeline definition"
I wonder if it's possible to trigger this in a pipeline defined in a YAML file.

[2018-01-26 15:27] cheeseypi opened #118 "Pull request builder fails with error 128"
`Interaction with plugin with id 'github.pr' implementing 'scm' extension failed while requesting for 'checkout'. Reason: [The plugin sent a response that could not be understood by Go. Plugin returned with code '500' and the following response: '"Exception (Process exited with an error: 128 (Exit value: 128)) Occurred: [git, clone, --branch\u003dmaster, http://***[Valid GitHub Enterprise URL]***,

[2018-01-26 15:30] #118 closed

[2018-01-26 15:30] cheeseypi commented on #118
Saw similar issue after the fact

[2018-01-26 15:31] cheeseypi commented on #99
I am getting a similar error

`Interaction with plugin with id 'github.pr' implementing 'scm' extension failed while requesting for 'checkout'. Reason: [The plugin sent a response that could not be understood by Go. Plugin returned with code '500' and the following response: '"Exception (Process exited with an error: 128 (Exit value: 128)) Occurred: [git, clone, --branch\u003dmaster, http://***[Va

[2018-02-07 09:32] eddyseager opened #119 "Support for gerrit stream events"
Rather than SCM polling for gerrit, could the plugin exploit gerrit's stream events and trigger materials using go.cd's notifications API (https://api.go.cd/current/#notify-git-materials)

Here are the docs for gerrit stream events https://gerrit-documentation.storage.googleapis.com/Documentation/2.8.1/cmd-stream-events.html

There is already a Java library here which can be used to listen for suc

[2018-02-16 17:36] eddyseager commented on #117
It is using the pluggable scm e.g.

materials:
      myPluggableGit:
        # https://eu-gerrit-1.euhpc.arm.com/octopus/gocd-yaml/qe
        scm: 12345

[2018-03-16 13:50] dokaspar commented on #27
Hi @kerrmarin,

What does "very large repo" mean? Every few weeks I observe exactly this error, as well. Would you call my clone a large repo?
[code]
What made me suspicious is the `--branch\u003dmaster` in the log statement, which you also seem to encounter. If you try a `git clone --branch\u003dmaster <url>` it will fail... I wonder if the plugin actually executes git with that wrong encoding or

[2018-03-16 14:01] dokaspar commented on #59
Just curious... is it supposed to be `--branch\u003dmaster` in the log file? Isn't that an encoding problem? I cannot execute `git clone --branch\u003dmaster <url>`, it only works properly with `--branch=master`.

[2018-03-16 14:08] dokaspar commented on #99
Totally agree with @cheeseypi. Every once in a while, I get the same error with a suspicious `--branch\u003dmaster` in the log output.

[2018-03-16 23:05] kerrmarin commented on #27
hey @dokaspar, it's been a long time since this but I remember it was a couple GB in size.

[2018-03-20 20:37] drawm commented on #99
Same problem here...
[code]

[2018-03-21 02:36] ashwanthkumar commented on #99
Generally the above set of errors can be resolved by deleting the checkout directory. While the general hypothesis is that the flyweight directory is corrupted, I have still not been able to figure out why / what is causing it to be that way. Could be a network issue or something else as well. I would be happy to get on call via Skype / Hangouts with someone who is interested to help debug an offe

[2018-04-24 11:58] dzschille opened #121 "What is this bitcoin wiki page? Is the repo hacked?"
See https://github.com/ashwanthkumar/gocd-build-github-pull-requests/wiki/Santoshi-Nuyem-gocf-build-github-pull-request-merger-commit-author-santoshi

[2018-04-24 12:34] ashwanthkumar commented on #121
Hey, thanks for this. I've deleted that page.

[2018-04-24 12:34] #121 closed

[2018-04-26 07:56] dzschille commented on #83
i jump in because i have exactly the same issue. I use Go Version: 18.3.0 and stash-pr-poller-1.3.4.jar. It makes a first build after saving the new stash material. Thank nothing ever happens. I tried creating new PR and new commits to existing PR. But no reaction, also in the logs no activity is showing up. I am watching this logs:

`tail -f /var/log/go-server/go-server.log /var/log/go-server/plu

[2018-04-26 08:10] dzschille commented on #83
Is it possible that this behavior has to do with  #71? I think it's possible because the older commit it is always building is a merge commit into master.

[2018-05-08 22:57] takeda commented on #59
@dokaspar probably this is just encoding \u003d translates to = sign.

BTW: I don't think this issue was resolved or at least I'm getting a similar one:

[code]

In my case there is a master branch for that repo, but the default one is set to develop. Although perhaps this is not the cause because the plugin seems to work with other repos which are similarly set up.

The version used is 1.3.3 whic

[2018-05-08 22:59] takeda commented on #59
This issue was discovered after a while when flywheel directory got 32 thousand entries (apparently the maximum number of files/directories in ext3 file system.

[2018-05-10 16:55] takeda opened #122 "GoCD is continously generating directories in /var/lib/go-server/pipelines/flyweight"
My gocd (1.3.3) is continuously generating directories in /var/lib/go-server/pipelines/flyweight it eventually generated 32 thousand of them (ext3 fs maximum) and causes other jobs to fail.

From the logs it looks like this error comes up, eand each time the UUID of the directory is different.

[code]

It looks like this might be related to #59, but from change log looks like that issue was alread

[2018-05-11 04:27] ashwanthkumar commented on #122
You can find some details on plugin-githu.pr.log? The directory is managed by GoCD and not by the plugin itself. The way GoCD works is, it generates a random UUID for each material name and uses that folder for finding new changes that're present since the last run.

[2018-05-11 06:12] takeda commented on #122
The log has entries like this:

[code]

[2018-05-15 15:17] peterwillis commented on #99
It would be really handy if the complete command output was shown in the error, instead of just the exit value. Is it in a log file somewhere?

[2018-05-16 01:18] takeda commented on #122
1.3.3

[2018-05-16 01:18] takeda commented on #122
@arvindsv ^

[2018-05-16 02:12] arvindsv commented on #122
@takeda I meant GoCD server version. 1.3.3 seems to be the plugin version.

[2018-05-16 04:52] ashwanthkumar commented on #59
@arvindsv I guess the root cause is at https://github.com/ashwanthkumar/gocd-build-github-pull-requests/issues/122.

I have not been able to reproduce this from my side actually.

[2018-05-16 04:56] ashwanthkumar commented on #99
@peterwillis We don't log the command. The main reason being sometimes folks add the materials with credentials as part of the URI. If you would like to give it a stab at the change, you can find the relevant [code here](https://github.com/ashwanthkumar/git-cmd/blob/master/src/com/tw/go/plugin/git/GitCmdHelper.java#L47-L56). I would be happy to review and merge the changes.

[2018-05-16 04:58] takeda commented on #122
@arvindsv 17.11.0

[2018-05-16 17:37] peterwillis commented on #99
Ok thank you for the response.

[2018-07-30 23:28] nzCharlie opened #123 "plugin fails with modification check - MMM not understood by the plugin."
The stash.pr plugin fails with modification check.

Modification check failed for material: [url=ssh://git@bitbucket.xxxxx.co.nz:1234/xx/xxxx-xxxx.git]31 Jul, 2018 at 11:23:12 Local Time

Interaction with plugin with id 'stash.pr' implementing 'scm' extension failed while requesting for 'latest-revisions-since'. Reason: [The plugin sent a response that could not be understood by Go. Plugin returne

[2018-08-22 09:04] ashwanthkumar commented on #116
@thomaslloyd We now have a https://github.com/ashwanthkumar/gocd-build-github-pull-requests/releases/tag/1.4.0-RC available which has fixes for this. Thanks to @gnandiga. It would be great if you can give it a try and let us know your feedback.

[2018-08-22 09:05] ashwanthkumar commented on #116
I'm closing this for now, please feel free to re-open it if needed.

[2018-08-22 09:05] #116 closed

[2018-09-04 16:45] williamsbdev commented on #123
@nzCharlie and @ashwanthkumar - I'm also experiencing this. Took me a while to dig into what the root cause of the error was (was simply getting an NPE in the go-server.log that distracted me for a while). I believe the fix is here:

https://github.com/ashwanthkumar/git-cmd/blob/master/src/com/tw/go/plugin/git/GitCmdHelper.java#L24

changing it from:

`private static final Pattern GIT_DIFF_TREE_PA

[2018-09-27 14:29] gavingmiller commented on #75
I am seeing this same behaviour on our installation too (`master` using code from my [previous PR](https://github.com/ashwanthkumar/gocd-build-github-pull-requests/pull/126)). Can you advise whether this is bring actively looked at? If not, I can pickup the work as this implies serious security implications for the plugin. Thanks.

[2018-09-27 15:13] ashwanthkumar commented on #75
@gavingmiller I'm sorry, what's the issue?

[2018-09-27 15:52] gavingmiller commented on #75
@ashwanthkumar have you done any work on this?

[2018-09-27 17:10] ashwanthkumar commented on #75
@gavingmiller Are you not able to connect to a Enterprise Github instance via the plugin?

[2018-09-27 19:27] gavingmiller commented on #75
@ashwanthkumar sorry about clarity. The issue I'm seeing is detailed in this comment: https://github.com/ashwanthkumar/gocd-build-github-pull-requests/issues/75#issuecomment-251384231

Rephrased, the username/password set in the `Edit Material` don't account for an endpoint set in the `.github` file. And so instead of querying an enterprise instance, they query github.com.

This is a security issu

[2018-09-28 08:14] ashwanthkumar commented on #75
Ah, I now understand. The relevant section of code is in [here](https://github.com/ashwanthkumar/gocd-build-github-pull-requests/blob/master/src/main/java/in/ashwanthkumar/gocd/github/provider/github/GitHubProvider.java#L149-L153). While `GitHub.connect()` resorts to using the `
~/.github` file we don't directly consume it. If you specify credentials directly in the material, we don't end up using

[2018-10-10 18:43] gnikitenko commented on #105
Hello, bumping this issue a bit, because
a) I have the same issue of not having plugin's env variables set during build.
b) having ~/.github set with oauth, so we are actually properly pulling PR's as they happen.

my take on this is that, maybe, in our setup with other plugin - "GitHub OAuth authorization plugin" it simply doesn't work. :-/

[2018-10-10 19:27] williamsbdev commented on #123
@ashwanthkumar - Now that https://github.com/ashwanthkumar/git-cmd/pull/3 has been merged, what is the process to get this plugin updated with that new jar and published?

[2018-10-11 03:55] ashwanthkumar commented on #105
@gnikitenko I would like you to verify the following check-list and make sure you've done all of the below.
- [ ] You've placed the `.github` in the home folder of `go` user where you're GoCD server is running.
- [ ] `~/.github` file contains `username` and `oauth` properties in them.
- [ ] You've not specified a different username / password in the Material's dialog of the pipeline. (If you've sa

[2018-10-11 03:56] ashwanthkumar commented on #105
@gnikitenko If you've answered `Yes` to all of the above, let's move this conversation to email (you can find mine on my profile). I would be happy to get on a Skype or Hangouts call to debug this further with you.

[2018-10-11 14:08] gnikitenko commented on #105
Oh, wow, after i asked our administator about the home folder, he pointed out to me, that GOCD adds his own prefixes to automatically generated EVs, so i had them all along, just by "slightly" longer names.

And i was expecting names, just like in the manual, so that's my fault.

So:
1) Sorry that i bothered you with my inability to read console logs :-(
2) Thank you for your great reply, pretty m

[2018-10-11 14:29] ashwanthkumar commented on #105
Thanks @gnikitenko.

Closing the issue.

[2018-10-11 14:29] #105 closed

[2018-10-12 00:59] ashwanthkumar commented on #123
@williamsbdev I would need to publish a new version of `git-cmd` and use that version in here. Please give me a few days, I'll sort them out and share an update in here once a new release is available.

[2018-10-15 11:49] cfontes opened #127 "Plugin does not support whitelists"
Would be nice to support white lists, specially with variable interpolation from env variables.

[2018-10-26 20:04] mlennon-lumere commented on #63
I don't see this documented in any gocd issue or on the website, although I've certainly always seen GoCD operate how you say.  Do you know if there is any discussion on a feature to allow parallel stage execution across different pipeline build instances?

[2018-11-01 12:49] ashwanthkumar commented on #63
@mlennon-lumere Related issue - https://github.com/gocd/gocd/issues/2329

[2018-11-01 12:53] #63 closed

[2018-11-01 12:53] ashwanthkumar commented on #63
Closing as it's currently not possible in GoCD. Once https://github.com/gocd/gocd/issues/2329 lands we can re-open this issue.

[2018-11-04 19:54] williamsbdev commented on #123
@ashwanthkumar - Is there anything I can do to help get this published?

[2018-11-05 04:55] ashwanthkumar commented on #123
@williamsbdev I've made a new release with the changes in [here](https://github.com/ashwanthkumar/gocd-build-github-pull-requests/releases/tag/v1.4.0-RC2). Please do test it out and let me know if it works as expected. Once you confirm, I'll cut a full 1.4.0 release out of this RC.

[2018-11-05 04:55] #123 closed

[2018-11-05 12:17] williamsbdev commented on #123
@ashwanthkumar - This has resolved our issues. Thanks for getting this published!

From my testing, this is ready for a release but please do any other testing that may be needed.

@nzCharlie - This RC fixed the issue you and I had.

[2018-11-05 20:20] mlennon-lumere opened #128 "Have builds for both PR's and FB's - but not both"
We have users who want builds for both all of their Feature Branches and all of their Pull Requests (alongside the Github Pull Request Status Notifier plugin).

The trouble is, that for new commits to open PR's, each commit triggers two builds, one in our 'Feature Branch' pipeline and one in our 'Pull Request' pipeline.

Is there a way we can get things configured so that builds happen only once f

[2018-11-06 10:30] ashwanthkumar commented on #128
@mlennon-lumere One way I can think of is, you might want to consider the following

- Have a specific branch name convention for all PR branches
- Use that convention as a blacklist in the Git FB Plugin

Example, let's say you're working on a feature branch called `feature-a`. And assume you've a blacklist glob pattern in Git FB plugin as `pr-*`.

Once the developer is done working on the feature

[2018-11-06 14:50] mlennon-lumere commented on #128
Thank you for that suggestion - it is a good one!  Unfortunately it will need our users to take action and rename their FB to something like `pr-` before opening the PR, which is something that they probably will not like and not do.  They're used to how CircleCI works in this regard and we're moving to GoCD for other reasons but finding this a pain point.

Another way to attack it would be - do y

[2018-11-06 15:20] abdulg opened #129 "Pipeline is being triggered by very old commits"
I came in this morning and saw that the pipeline that is triggered by PR's is being triggered by old commits to master branch. Looks like it is working it's way through a slew of old commits.

[code]

What would cause this?

It was running 1.3.4 and I upgraded to 1.3.5 but that did not help.

[code]

One additional data point. This started after I had restarted the go-server ```systemctl restart g

[2018-11-06 22:25] aerostitch opened #130 "Failed to fetch Plugin Settings metadata for plugin github.pr. Maybe the plugin does not implement plugin settings and view?"
Hi,

I'm trying to upgrade gocd to 18.10.0 and when I start I get this error in the logs:
[code]
I'm using the version `1.3.5` of this plugin.
Do you know if it is expected with GoCD 18.10.0?

Thanks for your help,
Joseph

[2018-11-07 04:18] ashwanthkumar commented on #130
Yes @aerostitch The plugin doesn't have a settings view. You can safely ignore that error in the logs. It was supposed to be a warning not sure when did they change that to an error.

[2018-11-07 04:18] #130 closed

[2018-11-07 04:34] ashwanthkumar commented on #129
@abdulg Is this the first time the pipeline was created? If so, it would start building from the master (for the first run) and pick all the active PRs. But again it shouldn't be an old commit on the master, it should be the HEAD commit.

Also has there been any recent force push to the master branch? Since the time the PR pipeline was setup?

[2018-11-07 04:38] ashwanthkumar commented on #128
@mlennon-lumere I think you don't need to check if there's a PR open or not. If we've a Github Status Notifier that marks the commit as success or failure it would automatically reflect on the PR page.

[2018-11-07 04:43] ashwanthkumar commented on #128
@mlennon-lumere I'm closing this issue since it's not directly related to this repo. Please feel free to re-open or comment if there's anything else I can help you with.

[2018-11-07 04:43] #128 closed

[2018-11-07 04:50] ashwanthkumar commented on #127
@cfontes A few questions so I understand this better
- By Whitelists, do you mean white-listing on the branches or whitelisting on the paths in the repo that can trigger the build? If it's branches, Git Feature Branches already support it today.
- If you're asking for white-listing the branches in other plugins (apart from FB plugin), can you please explain the use-cases where it might be used?

P

[2018-11-07 10:41] abdulg commented on #129
Hi,

This is an existing pipeline that started exhibiting this behaviour after running successfully for at least 6 weeks.

I’ll check on the recent force push.

Abdul

[2018-11-07 18:16] abdulg commented on #129
Hi,

I confirmed with the team that there was no force push recently. It did
seem to coincide with the out of heap mem issue and the reboot though.

Abdul

On Wed, Nov 7, 2018 at 5:41 AM Abdul R. Gani <abdulg@gmail.com> wrote:

[2018-11-08 01:41] ashwanthkumar commented on #129
Can you also please try restarting the server once more (if it's possible) to see if you can replicate it.

My guess is the last OOM for which restart was done didn't update the DB properly and the plugins state was restored from an earlier point.

[2018-11-08 11:44] abdulg commented on #129
Restarting the server has no effect. Is there a way to update the db state for this plugin, or maybe reset it. I am happy to remove the plugin and reinstall if you know that would work.

Abdul

[2018-11-08 13:06] ashwanthkumar commented on #129
@abdulg Change the name of the material. For example if the material URL is like
`git@github.com:ashwanthkumar/gocd-build-github-pull-requests` change it to something like `git@Github.com:ashwanthkumar/gocd-build-github-pull-requests.git` (note the `G` caps in the URI).

PS: The material URI in GoCD is case sensitive. So changing the case of some character assumes it to be a new material. This is

[2018-11-08 13:15] abdulg commented on #129
Hi Ashwanth,

That seems to have worked. I'll update you if I still see an issue.

Thanks,

Abdul

On Thu, Nov 8, 2018 at 8:06 AM Ashwanth Kumar <notifications@github.com>
wrote:

[2018-11-09 22:43] #129 closed

[2019-01-14 15:47] ashwanthkumar commented on #99
@linnzha Just a few questions, you seem to be using the HTTPS url. Are username added part of the material? Also does using the SSH URL help solve this problem?

[2019-01-15 03:05] linnzha commented on #99
Thank you for reply.

But when config Username and Password(no matter password or token), and click button for check connection will failed.

fail message is:
check connection failed. Server returned HTTP response code: 401 for URL: https://api.github.com/repos/user/xx

And when I googles github ssh url, found it could not use ssh url...
"If you are accessing an organization that uses SAML single

[2019-01-16 02:44] ashwanthkumar commented on #99
@linnzha Can you try the following and let me know
- Can you please add `http://` to the endpoint in the config?
- Is the `~/.github` pointing to the home directory of the `go` user or whichever user that's running the go-server?

[2019-01-17 08:59] linnzha commented on #99
So many thank you for your reply. @ashwanthkumar

Has solved the issue.
Directly config the material url as https://{token}@github.opco.net/user/xx.git

[2019-02-18 09:42] sn-x opened #132 "GitHub SCM whitelists"
I have found that official "Git" SCM supports inverted blacklists. Documentation of the Github feature branch plugin is also mentioning blacklist and whitelists.

Would it be possible to also support whitelists (or inverted blacklists) in the github.pr plugin?

[2019-04-04 16:59] schweikert commented on #127
What about whitelisting on the paths in the repo? Is that possible/planned?

We have multiple independent components in the same git repo, and  and without directory whitelisting support all the components are rebuild/retested every time, which wastes gocd agent resources and also increases the time that the PR becomes ready to be merged.

[2019-04-10 02:29] dawncold commented on #99
@ashwanthkumar I faced the same issue like @linnzha, I used gocd server and agent docker image.

run gocd-server:
[code]

run gocd-agent:
[code]

and I created `.github` file under `/path/to/gohome`, the content:
[code]

When I check connection during add `Github` material, it returns: `check connection failed. Server returned HTTP response code: 401 for URL: https://api.github.com/xxx`

it should

[2019-04-12 01:50] linnzha commented on #99
Did you try to config the material url like below?
https://{token}@github.opco.net/user/xx.git

[2019-04-12 04:30] dawncold commented on #99
@linnzha no, I just use the URL above and I have read the plugin source code, it should use my endpoint, and username

[2019-04-12 05:41] ashwanthkumar commented on #99
@dawncold If you're using the Oauth Token as the password, can you change the `password` as `oauth` in your `~/.github`  file?

[2019-04-12 05:54] linnzha commented on #99
previously i was also faced with issue for pr plugin use common api endpoint, not use company api endpoint, it seems so strange because i think i have config opco api in .github file, but when change material url to use token url, it is ok...

[2019-05-06 09:47] nextl00p opened #133 "materialName is not set"
The `materialName` is not set in Materials defined with this plugin.

I need it to access `GO_REVISION_${material name or dest}`. I am trying to use the destination as a workaround for now.

[2019-07-19 13:00] TheGUNNER13 commented on #86
@ashwanthkumar is blacklist/whitelist working as of today for github materials?

[2019-07-26 14:45] ironakpatel opened #134 "Build PR from comment keyword"
Requesting new feature - Build PR from comment keyword, e.g. comment "BUILD GoCD" or "BUILD" should trigger PR builds.

[2019-07-26 14:47] ironakpatel opened #135 "Build is not triggered on each commit(after hours) of PR"
we are 1.4.0-RC2, and noticing any new commit(after hours/late nights EST) to open PR is not triggering pipeline. is there any config that needs to be updated or is this known issue/feature?

[2019-07-30 11:43] mkum9469 opened #136 "GitHub Enterprise not working"
I tried setting the endpoint in `~/.github` as `endpoint=https://<my-enterprice-dns>/api/v3` but the plugin still checks the repo in `api.github.com`

![Screenshot from 2019-07-30 17-04-50](https://user-images.githubusercontent.com/26281978/62126145-b1693980-b2ec-11e9-9774-bf5de473ae0f.png)

By `~` I assumed this means the home of `go` user, which the GoCD Server runs. For me, it is `/var/go` thus

[2019-08-02 05:47] mkum9469 commented on #136
@ashwanthkumar Any idea about this?

[2019-08-02 08:15] ashwanthkumar commented on #136
Try skipping the check connection and setup the material. I'm traveling so I can't really check if it's the issue with the check connection code path.

[2019-08-02 16:38] mkum9469 commented on #136
It worked! Thanks a lot, if you do a fix, I can help with testing.

[2019-08-14 14:40] WebLeash opened #137 "auto Polling failing on piplines with Git. works manually. Caused by: org.apache.commons.exec.ExecuteException: Process exited with an error: 128 (Exit value: 128)Caused by: org.apache.commons.exec.ExecuteException: Process exited with an error: 128 (Exit value: 128)"
GoCD Version: 19.6.0.

Go into GUI and test connection of material in pipelines, they fail with "error".

I then tried (as go user) manually ssh clone the material and this works!
 I check the stash log "plugin-stash.pr.log" and see the error:-
"Caused by: org.apache.commons.exec.ExecuteException: Process exited with an error: 128 (Exit value: 128)"

What can cause the issue?

[2019-08-19 05:51] ravenpride commented on #112
We're encountering the same issue. Is there any progress fixing it?

[2019-08-20 20:39] ashwanthkumar commented on #112
@ravenpride Would you please be kind enough to send a PR for this issue? I would be happy to review and merge it.

[2019-08-21 05:18] ravenpride commented on #112
@ashwanthkumar Thank you for your response. Meanwhile we found a way to work without the plugin. We just wanted to build a set of release branches with a specific pattern using one pipeline, but that caused other issues, so we discarded this way entirely and built up separate pipelines.

[2019-09-30 13:01] thejasbabu commented on #105
@ashwanthkumar Is it required that the pipeline definition have username / password mentioned? If someone is depending on creating pipeline through code (via yaml definition), it would require one to check-in the username/password/token to the codebase.

[2019-10-01 03:14] ashwanthkumar commented on #105
@thejasbabu No you don't need username / password in the definition. Check out the checklist on https://github.com/ashwanthkumar/gocd-build-github-pull-requests/issues/105#issuecomment-428812031, if you answer yes to the first 2 boxes you don't need to check-in username / password in the YAML spec.

[2019-10-18 12:08] esselius commented on #117
Indeed this works

[2019-10-18 12:34] esselius commented on #135
We have noticed this issue too, no errors in logs, but I could manually trigger the pipeline with options, finding the commit :s

[2019-11-09 03:35] dlethin commented on #135
We are also seeing issues with some commits to PRs not triggering pipeline runs.  While the original submitter mentioned this happens after hours, I haven't gone that far so as to establish any pattern yet why some work and some don't.  We just have the same symptoms -- no trigger, no errors in the log files.   We're using `github-pr-poller-1.3.4.jar` and currently on GoCD Server 19.6.0

[2019-11-09 08:58] esselius commented on #135
@ironakpatel @dlethin is this issue related: https://github.com/ashwanthkumar/gocd-build-github-pull-requests/issues/71 ?

[2019-11-09 12:29] dlethin commented on #135
@esselius - I'm a bit of middle-man here, helping support a team with GoCD that reported this problem.  While I'm told this has happened multiple times, I only researched one instance, but I can confirm that was indeed a merge commit.  I'll have to do some digging sometime next week and see if that's the pattern for others as it sounds plausible.

As far as the workaround you mentioned on running

[2019-11-11 09:00] esselius commented on #135
@dlethin I just pressed the `Trigger with Options`-button and selected the top commit, which happened to be the merge commit :)

[2020-01-21 13:18] patrijua opened #139 "Bitbucker PR will not trigger pipeline"
Hi! I would need some help on how to use Stash Pull Requests Builder (https://github.com/ashwanthkumar/gocd-build-github-pull-requests) when pipelines are defined in yaml. Currently, I have a pipeline defined:
[code]
Pipeline was triggered when GoCD took this yml into use, it succesfully used material from master, but it will not trigger to any pull request I make in Bitbucket from some feature br

[2020-01-22 11:52] patrijua commented on #139
Tried this also by creating pipeline manually in GoCD as instructed in in plugin documentation, it did not help. Still the pipeline will not trigger. Plugin also does now write any logs to from where I could debug. Also noticed that when I trigger pipeline manually, it does not use latest commit from master, instead it uses the first commit on master branch. @ashwanthkumar please could you have a

[2020-01-22 13:41] patrijua commented on #139
Experimented also github-pr-poller-1.4.0-RC2.jar with Github, it does work OK, but we need to get BitBucket integration to work.

[2020-01-23 07:43] patrijua commented on #139
Hmmh, noticed this: https://github.com/ashwanthkumar/gocd-build-github-pull-requests/issues/46
I guess we can then forget Bitbucket/Gitlab support and ditch also GoCD because of this :(

[2020-01-24 16:28] SahilLone opened #140 "Run multiple instances of the job"
I am using gocd with elastic agents on Kubernetes.
As of now only one job runs even when multiple PR's are submitted and multiple commits.
Is it possible to make it happen to build all of the commits at once ,since the agents are available.

[2020-01-24 16:51] ashwanthkumar commented on #140
If your PR build pipeline  have only one stage, GoCD by design can't run multiple instances.

While I've not tried personally,if your pipeline has multiple stages try disabling pipeline locking and if that helps.

[2020-02-08 21:39] monikakatiyar16 opened #141 "Cannot see github option in material section for GoCD v20.1.0"
**Issue:**
- Not able to see github option in Materials section on UI. Also unable to see any logs for the plugin in /var/log/go-server folder

**Steps to reproduce:**
- Downloaded and installed "github-pr-poller-1.4.0-RC2.jar" in goserver/plugin/external folder (in my case, /var/lib/go-server/plugins/external).
- Added .github file in folder /var/go with file ownership of go user.
- Restarted the

[2020-02-08 22:01] monikakatiyar16 commented on #141
Sorry. There's no issue with the plugin. It's just the new look that got me confused. I am not able to see the github option here. But once after creating the pipeline with git creds here, on editing the pipeline, I am able to see the github option!

[2020-02-08 22:01] #141 closed

[2020-03-27 14:53] austinorth opened #142 "Environment variables are not present as defined in documentation"
I tried to set up a pipeline for building PRs using this documentation, and found it very frustrating, as all of the screenshots are out of date the the environment variables do not appear as defined in the documentation. For example, I tried to tag a Docker image called `fact` using the `PR_BRANCH` variable and ended up with the following:
![job_fail](https://user-images.githubusercontent.com/310

[2020-03-27 23:35] gregoryfischer opened #143 "Error while scheduling pipeline"
I did not see a comparable issue on this, and I have been trying to debug on my own for half a day, so hoping to get some insight on what might be the problem.

GoCD server and agents running in docker containers. Everything works great but am having issues with triggering pipelines when new enterprise git PRs are created. I followed the setup instructions in this repo and the error below seems to

[2020-03-28 00:35] gregoryfischer commented on #143
Turns out, the `github-pr-status` settings needed an `/api/v3` tweak on the endpoint. File under good to know.

[2020-03-28 00:35] #143 closed

[2020-03-28 12:08] ashwanthkumar commented on #142
Thanks for the feedback @austinorth -- I accept Pull Requests for the documentation changes.

[2020-04-02 18:46] gregoryfischer opened #144 "Pull request builder fails with error 128"
Not sure why https://github.com/ashwanthkumar/gocd-build-github-pull-requests/issues/118 was closed as this is still an issue with the current non-release version 1.3.5 and is causing an incredible amount of pain in blocking development workflows with false failures.

UI error output
[code]
Agent Log:
[code]

Environment:
Server: gocd/gocd-server:v19.12.0 (docker image)
Agent(s): gocd/gocd-agent-u

[2020-04-08 16:39] mrmanc commented on #141
Can this be reopened as I feel it is an issue. It would be good to create a pipeline with a `Github` material type from the start. Is there a reason why this plugin’s material type can’t appear in this list?

As it is, to create a pull request pipeline I have to give it a dummy material that I later remove after the pipeline is created when I have been able to add the new `Github` material.

[2020-04-08 16:43] mrmanc opened #145 "Adding material without name leads to non-specific error"
When I try to add a `Github` type material to a pipeline, if I have not named the material then I get an error message saying:

I had to go and comb the application logs (see truncated stack trace below) to work out that name was a required field. Can this requirement be removed, or the error message making more explicit?

<details>

[code]

</details>

The same error crops up if you add a duplica

[2020-04-08 16:50] mrmanc opened #146 "Material type is confusing"
Is there a reason that the material type is `Github` rather than `GitHub Pull Requests`? I think people have missed it as an option because the difference between `Git` and `Github` is so subtle.

[2020-04-08 17:33] ashwanthkumar commented on #141
@mrmanc This is not an issue with the plugin, it's an issue with GoCD itself. Please consider opening this issue at GoCD repo directly.

[2020-04-08 17:35] ashwanthkumar commented on #145
Name is generally optional for a material unless you've more than 1 material in the pipeline. This again is an issue with GoCD and not the plugin.

[2020-04-08 17:35] #145 closed

[2020-04-08 17:37] ashwanthkumar commented on #146
No specific reason. It's been that way since the day 1 as far as I can recall. Most of us are now used seeing `Github` material type. I'll keep this issue open for a while, if more users thing it should be renamed.

[2020-04-08 17:52] mrmanc commented on #141
Will do… thanks 👍

[2020-04-08 18:04] mrmanc commented on #145
Thanks for your reply. So is there no way that the plugin can provide the user with a better message when the config change fails? I didn’t raise this one in the GoCD repo as I thought that the interface to add a plugin was owned by this project, but let me know if I’m wrong and I’ll raise an issue there.

[2020-04-08 18:10] ashwanthkumar commented on #145
In the [plugin interface](https://github.com/ashwanthkumar/gocd-build-github-pull-requests/blob/master/src/main/resources/views/scm.template.html), we don't collect name of the material. Thats the responsibility of the GoCD Server actually.

[2020-04-09 09:44] mrmanc commented on #145
Okay, if that means that the error message also can’t be displayed by the plugin then I’ll go ahead and raise this against GoCD. Thanks!

[2020-04-23 07:10] amithalef commented on #71
We are still facing this issue @ashwanthkumar, is there any updates on this?

[2020-04-30 04:46] #140 closed

[2020-04-30 04:47] #88 closed

[2020-05-18 18:05] plainsane commented on #144
same problem here on gocg 20.3 and 1.3.5 pointed at github enterprise

[2020-05-29 08:32] kuba-lilz commented on #146
While I got used to it by now, I indeed found it very confusing when starting.

[2020-06-02 04:06] ashwanthkumar commented on #142
Closed by #147

[2020-06-02 04:06] #142 closed

[2020-06-04 10:22] atharvai opened #148 "Default branch doesn't work"
I have the following scenario:

1. current repo using `git` material type with branch `github_pr` branch
1. update material on `github_pr` branch to be pluggable scm (this github.pr plugin) for JSON plugin
1. try pushing few commits to `github_pr` branch. notice GoCD and plugin recognises new commits. all good.
1. change default branch to master and update config repo to read from master branch.
1

[2020-06-04 10:27] atharvai commented on #148
here's obfuscated config
[code]

[2020-06-04 10:30] ashwanthkumar-avalara commented on #148
Default branch is only used for the initial run of the pipeline. Then on, the plugin would only recognise PR commits and build them. This is not a replacement for regular build pipeline. You're expected to have a regular build pipeline that builds the master or the primary branch in your repo.

[2020-06-04 10:34] atharvai commented on #148
interesting. I wasn't aware of having a separate pipeline. From a git perspective, `master` is just another branch. I could have called it anything else.
Are you open to enabling primary branch builds via this plugin?

If the default branch is set to `master`, any PR merge commits will appear in GoCD to be triggered. so the PR "merge" commits could be executed as long as the very first trigger is

[2020-06-04 18:51] ashwanthkumar commented on #148
So the gihub.pr doesn't build a given branch, it only builds open PRs that is by design.

I'm not sure I understand what you're asking there. Can you please explain it a bit more to me?

[2020-06-05 12:30] atharvai commented on #148
I was trying this on an existing repository and pipeline so I created a branch `github_pr` and first triggered pipeline benchmarked the commit from this branch. After I merged to master, no new PRs were detected unless they were branched from `github_pr`.

[2020-06-19 14:01] mirogta commented on #117
[code]

[2020-09-07 16:34] atharvai opened #150 "v1.3.5 PR environment variables not set"
plugin_version: v1.3.5

I have a PR open and running a GoCD Pipeline on the any commit doesn't set the [PR environment variables](https://github.com/ashwanthkumar/gocd-build-github-pull-requests/blob/v1.3.5/src/main/java/in/ashwanthkumar/gocd/github/provider/github/GitHubProvider.java#L95). I'm looking to use `GO_SCM_*_PR_BRANCH` and `GO_SCM_*_TARGET_BRANCH` but I can only find `GO_SCM_*_PR_ID` se

[2020-09-07 16:37] atharvai commented on #150
I had a look at [this comment](https://github.com/ashwanthkumar/gocd-build-github-pull-requests/issues/105#issuecomment-428812031) but it doesn't apply as I'm using SSH and not HTTPS. The Plugin is able to post the status back to Github correctly, so I assume it has access to PR data.

[2020-09-08 03:38] ashwanthkumar commented on #150
[These](https://github.com/ashwanthkumar/gocd-build-github-pull-requests/blob/master/src/main/java/in/ashwanthkumar/gocd/github/provider/github/GitHubProvider.java#L132-L147) lines should populate all the relevant details about the PR. Can you please check the logs for any relevant exceptions that might have been hit because of this?

[2020-09-15 12:03] atharvai commented on #150
@ashwanthkumar thanks. We had a look and we don't have `.github` file with credentials. I don't think that is a viable option for us as it means committing secret credentials to git. Is there another mechanism for the plugin to use? or a workaround for GoCD to use Secure Variables?

[2020-09-15 12:09] ashwanthkumar commented on #150
@atharvai The `.github` is not supposed to be checked into any repo. It needs to be present on the GoCD Server machine (under home directory of `go` user to be precise). More details on this on the [README](https://github.com/ashwanthkumar/gocd-build-github-pull-requests#github). Unless folks have SSH access to the server, which defeats the gocd secure variables as well, it should work for most se

[2020-09-17 11:14] atharvai commented on #150
got it. tried and successful.

Thanks for your help

[2020-09-17 11:14] #150 closed

[2020-09-17 11:15] atharvai commented on #148
just to close off, the first time you create the material, set the default branch to master/main correctly. otherwise next time it will not work.

[2020-09-17 11:15] #148 closed

[2020-09-22 12:38] Meet116 commented on #144
Hi
Same issue here. Is there is any "@" or some thing in your github password or username which requireds URL encoding?

[2020-09-22 13:24] ashwanthkumar commented on #139
Just a quick follow up -- we now have support for Gitlab added in https://github.com/ashwanthkumar/gocd-build-github-pull-requests/pull/149 and available from https://github.com/ashwanthkumar/gocd-build-github-pull-requests/releases/tag/v1.4.0-RC4.

[2020-09-22 13:25] ashwanthkumar commented on #22
For archival purpose -- we now have support for building Merge Requests from Gitlab as part of https://github.com/ashwanthkumar/gocd-build-github-pull-requests/releases/tag/v1.4.0-RC4.

[2020-11-02 18:41] ahmadou opened #153 "Gitlab plugin does not handle subgroups"
Hi,

I'm facing an issue when i get a 404 error whenever i try to create a new scm plugin entry.
The plugin only works with "simple" urls but don't want to work when the repo si withnin a subgroup in gitlab.

After reviewing the code of https://github.com/ashwanthkumar/gocd-build-github-pull-requests/blob/master/src/main/java/in/ashwanthkumar/gocd/github/provider/gitlab/GitLabProvider.java and htt

[2020-11-06 14:08] hubx commented on #72
[gocd/gocd#217](https://github.com/gocd/gocd/issues/217) is closed and we use `/go/api/webhooks/github/notify` successfully to trigger all our pipelines on our project. We wanted to try PR builds with this cool plugin. However they are only built if we re-enable polling for the Github SCM again.

What do we need to to do to have PR builds working with github webhooks only and without polling? (Pol

[2020-11-06 19:09] arvindsv commented on #72
https://github.com/gocd/gocd/issues/8170 finished a few days ago and to be released in 20.9.0 might be relevant.

[2020-11-18 15:30] paullewisn opened #155 "Plugin fails after removal of master branch"
I branched `master` to `main` some time ago and set this as the default branch on our repos, today I deleted the `master` branch but this has caused an error on our build pipeline:

[code]
Is there a configuration/env vars I need to update? I have restored `master` for now.

[2020-11-18 17:11] paullewisn commented on #155
I am also seeing this response periodically

[code]

[2020-12-01 15:18] Gasparfx opened #157 "Support for BitBucket Server 7"
Hello!

"BitBucket Server 7.x no longer automatically creates the required refs for pull requests"

So for refs to update we need to call changes api.

How they do it in jenkins:
https://github.com/jenkinsci/bitbucket-branch-source-plugin/pull/294/files

Without it we have to manually click Diffs tab for build to trigger.

More info:
https://jira.atlassian.com/browse/BSERV-12284?focusedCommentId=2

[2020-12-31 01:18] ashwanthkumar commented on #157
Please check https://github.com/ashwanthkumar/gocd-build-github-pull-requests/issues/46. We've decided long back we'll not support API based integration in this plugin.

[2020-12-31 01:18] #157 closed

[2021-02-24 11:30] sandro-h opened #159 "Checkout + reset confuses SonarQube"
### Current state

The PR plugin checks out a pull request the following way:
- Checkout (clone) the `master` (or default) branch
- `git reset --hard` it to the pull request revision

This is causing issues with at least one tool that relies on a reasonable git state: SonarQube. It expects a pull request to be checked out in a separate branch (ideally the PR source branch) and the `master` to be u

[2021-04-01 22:14] amilstead opened #160 "How is this supposed to work with gocd-yaml-config-plugin?"
Specifically: https://github.com/tomzo/gocd-yaml-config-plugin

For example: What does a valid example configuration look like using the above plugin?

I have a problem: I expect changes to my `.gocd.yaml` file in a pull request to be reflected in the jobs executed by my GoCD server. Today, this does not happen.

Either I have configured something wrong, or this plugin simply does not support this

[2021-04-02 01:18] ashwanthkumar commented on #160
May be [this comment](https://github.com/ashwanthkumar/gocd-build-github-pull-requests/issues/117#issuecomment-646653062) should help.

To your actual problem, the changes in the YAML will not be reflected in GoCD as part of the PR. Because the GoCD YAML Config Plugin doesn't know anything a Pull Request and this PR plugin doesn't know anything about YAML based configuration. YAML Plugin works dir

[2021-04-02 01:18] #160 closed

[2021-04-15 08:33] weaky opened #161 "not existing revision ID used"
I use Gerrit Change Set plugin 1.4.0-RC4 and Gerrit Change Set status notifier 1.7.0-107
I have created a pipeline B which has two materials, one is a gerrit repo 1, second is a upstream pipeline A which has a different gerrit repo 2 as material.  Pipeline B fetches a build artifact from pipeline A.
If pipeline A has been successfully run, pipeline B starts, but with a gerrit revision which does n

[2021-05-14 12:54] philip-hope commented on #135
We're seeing the same symptoms in our setup sporadically using v1.3.4, delayed runs across multiple repos up to several hours in some instances for both default and merge commits
So far we aren't seeing any explicit errors in the logs either nor a definitive pattern as to what is causing it, and are investigating the possibility of network performance issues between GoCD and Github, as well as whe

[2021-05-18 19:54] mirogta commented on #155
This is slowly becoming a blocker for us - since new GitHub repositories have the `main` as the default branch and not all people (who can create new repos) have an easy way or permission to change the default repo back to `master` to make their GoCD pipelines work with this plugin.

@ashwanthkumar could we please get an update and some timeframe when you or someone could have a look at this issue

[2021-06-01 10:25] yuktikhurana opened #163 "Can we have the latest commit release jar ?"
Hi @ashwanthkumar
Can you please release the latest version at master for the plugin.
Last I see in releases is from 11 Sep 2020 and there has been many changes post that.

[2021-06-10 05:06] weaky opened #164 "gerrit branch filtering"
We have pipelines which should only be triggered on gerrit changes but only for a specific branch.
Can you please add this feature, branch filtering is only available for git?

[2021-06-11 08:40] weaky commented on #164
sorry, I think it´s same as https://github.com/ashwanthkumar/gocd-build-github-pull-requests/issues/111

[2021-06-11 08:40] #164 closed

[2021-06-11 16:03] philip-hope commented on #135
@ashwanthkumar Do you have any more context on why this might be happening? Despite any resolutions in [#71](https://github.com/ashwanthkumar/gocd-build-github-pull-requests/issues/71) [#83](https://github.com/ashwanthkumar/gocd-build-github-pull-requests/issues/83) and [#94 ](https://github.com/ashwanthkumar/gocd-build-github-pull-requests/pull/94)we're still experiencing seemingly random delays

[2021-08-11 09:10] croweman commented on #155
@paullewisn @mirogta I believe the alternative is just to set the `Default branch` on the Github plugin dialog to `main` rather than leaving it empty.

[2022-02-25 17:37] gregoryfischer opened #167 "Plugin returned with code '500' and the following response: '"Unable to parse git-diff-tree""
@ashwanthkumar

The following error was previously reported in https://github.com/ashwanthkumar/gocd-build-github-pull-requests/issues/123 however it still persists in another permutation in Release 1.4.0-RC4.

[code]

[2022-03-11 05:52] kwaisecer[bot] opened #169 "同学，您这个项目引入了38个开源组件，存在15个漏洞，辛苦升级一下"
检测到 ashwanthkumar/gocd-build-github-pull-requests 一共引入了38个开源组件，存在15个漏洞
[code]
另外还有15个漏洞，详细报告：https://mofeisec.com/jr?p=i48197

[2022-03-11 05:52] Kwaiseec commented on #169
@ashwanthkumar，同学，您好，上面的漏洞报告是我IDE运行时，安全插件提示您这个项目存在的几个漏洞的报告，辛苦您修复一下哈，担心其他人也会用到你这个项目，从而引入这些漏洞。：）

[2022-03-24 20:27] #106 closed

[2022-05-30 21:22] #48 closed

[2022-08-25 18:23] krinklesaurus opened #171 "REF_PATTERN not working as expected"
This [REF_PATTERN](https://github.com/ashwanthkumar/gocd-build-github-pull-requests/blob/master/src/main/java/in/ashwanthkumar/gocd/github/provider/github/GitHubProvider.java#L31) only matches ref names which have `pull-request/*` as the PR's branch name.
The pattern is used after running git show-ref for filtering the refs' names.

Current git show-ref output for this repo is

    cc805eaa642b857

[2022-08-31 09:18] parasquid commented on #99
hello! just encountered this issue as well

[code]

and just like what was mentioned here, adding the token in the https endpoint fixes things.

I should note that this only seems to happen with private repos; pipelines using public repos work properly.

I've setup ~/.github in the server's as well (check connection works with the https without the token, and the ssh url) with the token as `oauth`